@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,500,600,700,900&display=swap");
@media only screen and (max-width: 800px) {
  img[alt="author-image"] {
    display: none; }
  img[alt="author-image-mobile"] {
    max-width: 70px;
    border-radius: 50%;
    float: right;
    margin: 15px; }
  .page > div:not(.header):not(.introduction-mobile) {
    padding: 0 20px; }
    .page > div:not(.header):not(.introduction-mobile) img:not([alt="author-image"]) {
      margin-left: -20px; } }

@media only screen and (min-width: 1250px) {
  body {
    padding: 80px 0;
    display: grid;
    grid-row-gap: 100px; } }

@media print {
  img[alt="author-image-mobile"] {
    display: none; }
  img[alt="author-image"] {
    max-width: 100px;
    border-radius: 50%;
    float: right;
    margin: 15px; }
  .page-break {
    height: 80px;
    page-break-after: always; }
  .page {
    display: grid;
    grid-template-columns: 16.75% 16.75% 16.75% 16.75% 16.5% 16.5%;
    grid-template-rows: auto;
    background: white;
    box-shadow: 0 0 20px rgba(56, 56, 56, 0.4); }
    .page > div:first-child {
      margin-top: 40px; }
    .page .text {
      padding: 0 20px; }
    .page .columns {
      width: 100%;
      column-count: 2;
      padding: 0 20px;
      column-gap: 80px; }
      .page .columns p {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid; }
      .page .columns img:not([alt="author-image"]) {
        margin-left: -60px;
        max-width: calc(100% + 60px); }
    .page .left .columns {
      column-gap: 40px; }
    .page .full {
      padding: 0 20px; }
    .page .full,
    .page .header,
    .page .horizontal-bar {
      grid-column-start: 1;
      grid-column-end: 8; }
    .page .left {
      grid-column-start: 1;
      grid-column-end: 5;
      padding: 20px; }
    .page .sidebar {
      padding: 20px;
      background: #f5f5f5; }
    .page .left-half {
      grid-column-start: 1;
      grid-column-end: 4; }
      .page .left-half div {
        border-top-right-radius: 30px;
        padding-left: 60px;
        padding-right: 40px; }
    .page .right-half {
      grid-column-start: 4;
      grid-column-end: 8; }
      .page .right-half div {
        border-top-left-radius: 30px;
        padding-left: 40px;
        padding-right: 40px; }
    .page .left-small {
      grid-column-start: 1;
      grid-column-end: 4; }
      .page .left-small .sidebar {
        padding-left: 40px;
        border-top-right-radius: 30px; }
    .page .right {
      grid-column-start: 4;
      grid-column-end: 8;
      padding: 20px; }
    .page .right-small {
      grid-column-start: 5;
      grid-column-end: 8; }
      .page .right-small .sidebar {
        border-top-left-radius: 30px;
        padding-right: 40px; }
  .left,
  .left-small,
  .left-half,
  .right,
  .right-small,
  .right-half {
    display: flex;
    flex-direction: column; }
    .left > *,
    .left-small > *,
    .left-half > *,
    .right > *,
    .right-small > *,
    .right-half > * {
      flex: 1 1 auto; }
  .left > *,
  .left-small > * {
    padding-left: 40px !important; }
  .left-half .sidebar {
    margin-top: 40px;
    padding-left: 60px !important; }
  .right-small > * {
    padding-left: 40px !important;
    padding-right: 60px !important; }
  .full {
    padding-left: 40px !important;
    padding-right: 40px !important; } }

@media only screen and (min-width: 801px) {
  img[alt="author-image-mobile"] {
    display: none; }
  img[alt="author-image"] {
    max-width: 100px;
    border-radius: 50%;
    float: right;
    margin: 15px; }
  .page-break {
    height: 80px;
    page-break-after: always; }
  .page {
    display: grid;
    grid-template-columns: 16.75% 16.75% 16.75% 16.75% 16.5% 16.5%;
    grid-template-rows: auto;
    background: white;
    box-shadow: 0 0 20px rgba(56, 56, 56, 0.4); }
    .page > div:first-child {
      margin-top: 40px; }
    .page .text {
      padding: 0 20px; }
    .page .columns {
      width: 100%;
      column-count: 2;
      padding: 0 20px;
      column-gap: 80px; }
      .page .columns p {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid; }
      .page .columns img:not([alt="author-image"]) {
        margin-left: -60px;
        max-width: calc(100% + 60px); }
    .page .left .columns {
      column-gap: 40px; }
    .page .full {
      padding: 0 20px; }
    .page .full,
    .page .header,
    .page .horizontal-bar {
      grid-column-start: 1;
      grid-column-end: 8; }
    .page .left {
      grid-column-start: 1;
      grid-column-end: 5;
      padding: 20px; }
    .page .sidebar {
      padding: 20px;
      background: #f5f5f5; }
    .page .left-half {
      grid-column-start: 1;
      grid-column-end: 4; }
      .page .left-half div {
        border-top-right-radius: 30px;
        padding-left: 60px;
        padding-right: 40px; }
    .page .right-half {
      grid-column-start: 4;
      grid-column-end: 8; }
      .page .right-half div {
        border-top-left-radius: 30px;
        padding-left: 40px;
        padding-right: 40px; }
    .page .left-small {
      grid-column-start: 1;
      grid-column-end: 4; }
      .page .left-small .sidebar {
        padding-left: 40px;
        border-top-right-radius: 30px; }
    .page .right {
      grid-column-start: 4;
      grid-column-end: 8;
      padding: 20px; }
    .page .right-small {
      grid-column-start: 5;
      grid-column-end: 8; }
      .page .right-small .sidebar {
        border-top-left-radius: 30px;
        padding-right: 40px; }
  .left,
  .left-small,
  .left-half,
  .right,
  .right-small,
  .right-half {
    display: flex;
    flex-direction: column; }
    .left > *,
    .left-small > *,
    .left-half > *,
    .right > *,
    .right-small > *,
    .right-half > * {
      flex: 1 1 auto; }
  .left > *,
  .left-small > * {
    padding-left: 40px !important; }
  .left-half .sidebar {
    margin-top: 40px;
    padding-left: 60px !important; }
  .right-small > * {
    padding-left: 40px !important;
    padding-right: 60px !important; }
  .full {
    padding-left: 40px !important;
    padding-right: 40px !important; } }

@media print {
  body {
    background: white !important;
    padding: 0;
    grid-row-gap: 0; }
  .page {
    box-shadow: none;
    background: white;
    height: 1593px; }
  .introduction-mobile + .page {
    height: 1322px; }
  .page-break {
    display: none; }
  .header {
    box-shadow: none !important; } }

body {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #4d4d4d;
  background-color: white;
  line-height: 1.4;
  width: 100vw;
  overflow-x: hidden; }

@media print {
  body {
    background-color: #c6b8b8; }
  * {
    user-select: none; } }

@media only screen and (min-width: 801px) {
  body {
    background-color: #c6b8b8; }
  * {
    user-select: none; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #D22630;
  padding: 10px 0; }

h1 {
  margin-bottom: 40px; }

h2, h3, h4 {
  text-transform: uppercase; }

strong {
  font-weight: 900; }

em {
  font-style: italic; }

* {
  box-sizing: border-box; }

a[href] {
  color: #D22630; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 16px; }

ul {
  padding-left: 14px;
  margin-top: 0; }

h5 {
  color: #4d4d4d;
  font-size: 15px; }

.nowrap {
  white-space: nowrap; }

.page {
  max-width: 1160px;
  margin: 0 auto; }

.no-transitions, .no-transitions * {
  transition: none !important;
  opacity: 0; }

p {
  margin: 0 0 20px 0;
  position: relative; }

img {
  max-width: 100vw; }

@media only screen and (max-width: 800px) {
  .tablet {
    display: none !important; } }

@media print {
  img {
    width: 100%; }
  .hide-on-desktop,
  .only-mobile {
    display: none !important; } }

@media only screen and (min-width: 801px) {
  img {
    width: 100%; }
  .hide-on-desktop,
  .only-mobile {
    display: none !important; } }

@media print {
  h1 {
    font-size: 25px; }
  h2 {
    font-size: 20px; } }

@media only screen and (min-width: 801px) {
  h1 {
    font-size: 25px; }
  h2 {
    font-size: 20px; } }

#__bs_notify__ {
  display: none !important; }

@media only screen and (max-width: 800px) {
  .hide-on-mobile {
    display: none; } }

.header {
  width: 100%;
  position: relative;
  height: 180px;
  max-width: 1160px;
  margin: 0 auto; }
  .header img {
    display: block; }
  .header .background {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover; }

.logo {
  position: sticky;
  margin-left: -100%;
  float: right;
  margin-right: 20px;
  top: 0;
  z-index: 11;
  right: 0;
  background: #D22630;
  width: 60px;
  height: 60px; }

@media print {
  .header {
    box-shadow: 0 0 20px rgba(56, 56, 56, 0.4);
    height: 280px; }
    .header:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: -20px;
      background: white; }
  .logo {
    left: 0;
    margin-left: 60px;
    width: 110px;
    height: auto;
    top: 80px;
    position: absolute; } }

@media only screen and (min-width: 801px) {
  .header {
    box-shadow: 0 0 20px rgba(56, 56, 56, 0.4);
    height: 280px; }
    .header:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: -20px;
      background: white; }
  .logo {
    left: 0;
    margin-left: 60px;
    width: 110px;
    height: auto;
    top: 80px;
    position: absolute; } }

@media only screen and (min-width: 1161px) {
  .logo {
    left: 50%;
    transform: translateX(-580px); } }

@media only screen and (max-width: 800px) {
  .horizontal-bar img {
    z-index: -1;
    margin-top: -50px;
    width: 100vw; }
  .horizontal-bar p:last-of-type {
    margin-bottom: 0; } }

@media print {
  .horizontal-bar {
    background: #D22630;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    width: 100%;
    margin: 50px 0 40px; }
    .horizontal-bar h2 {
      display: none;
      flex: 0 0 100%; }
    .horizontal-bar img {
      flex: 0 0 50%;
      display: block;
      margin: -100px 0;
      object-fit: cover;
      position: relative;
      top: -60px; }
    .horizontal-bar p {
      margin: 0;
      display: block;
      padding-left: 60px;
      padding-right: 40px;
      flex: 0 0 50%; } }

@media only screen and (min-width: 801px) {
  .horizontal-bar {
    background: #D22630;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    width: 100%;
    margin: 50px 0 40px; }
    .horizontal-bar h2 {
      display: none;
      flex: 0 0 100%; }
    .horizontal-bar img {
      flex: 0 0 50%;
      display: block;
      margin: -100px 0;
      object-fit: cover;
      position: relative;
      top: -60px; }
    .horizontal-bar p {
      margin: 0;
      display: block;
      padding-left: 60px;
      padding-right: 40px;
      flex: 0 0 50%; } }

@media only screen and (max-width: 800px) {
  .index-popup {
    position: fixed;
    height: 100vh;
    width: calc(100vw - 60px);
    z-index: 40;
    opacity: 0;
    transition: all .4s ease-in-out;
    pointer-events: none; }
    .index-popup a {
      color: white; }
    .index-popup em {
      padding: 20px 20px 5px;
      display: block;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.7); }
    .index-popup .main {
      margin-top: 40px;
      margin-bottom: 60px; }
    .index-popup .group {
      transition: all .3s ease-in-out;
      padding: 0 20px;
      background: rgba(255, 255, 255, 0.9);
      color: #4d4d4d;
      overflow: hidden; }
      .index-popup .group a {
        color: #D22630; }
      .index-popup .group.visible {
        padding: 20px; }
    .index-popup .inner {
      position: absolute;
      z-index: 3;
      height: 100vh;
      transition: all .4s ease-in-out;
      width: 100%;
      transform: translateX(-100vw);
      background: #D22630;
      overflow-y: auto; }
    .index-popup .index-link {
      display: block;
      cursor: pointer;
      padding: 10px 20px;
      color: white;
      font-weight: bold;
      transition: all .3s ease-in-out; }
      .index-popup .index-link.active {
        color: #D22630;
        background: white; }
    .index-popup .close-index-popup {
      position: absolute;
      width: 30px;
      right: -45px;
      top: 18px;
      height: 100vh;
      z-index: 50; }
      .index-popup .close-index-popup svg {
        cursor: pointer;
        stroke: #4d4d4d; }
    .index-popup .main .index-link {
      text-transform: uppercase; }
      .index-popup .main .index-link:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .index-popup .other {
      padding-bottom: 20px; }
      .index-popup .other .list {
        display: flex;
        flex-direction: column; }
      .index-popup .other em {
        font-style: normal; }
      .index-popup .other .index-link {
        font-weight: normal;
        font-style: italic; }
        .index-popup .other .index-link:not(:last-child) {
          border-bottom: 1px dotted rgba(255, 255, 255, 0.3); }
        .index-popup .other .index-link.active {
          border-bottom-color: transparent; }
  html.show-index body {
    overflow: hidden; }
  html.show-index .index-popup {
    pointer-events: all;
    opacity: 1; }
    html.show-index .index-popup .inner {
      transform: translateX(0); }
  .go-index {
    z-index: 35;
    stroke: white;
    display: block; }
    .go-index svg {
      box-sizing: content-box;
      width: 26px;
      padding: 8px 20px;
      cursor: pointer; }
  html body:before {
    opacity: 0;
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 12;
    background: white;
    transition: opacity .3s ease-in-out;
    pointer-events: none; }
  html.show-index body:before {
    opacity: .8;
    pointer-events: all; } }

@media print {
  .index-popup,
  .go-index {
    display: none; } }

@media only screen and (min-width: 801px) {
  .index-popup,
  .go-index {
    display: none; } }

.introduction-mobile {
  background: #D22630;
  color: white;
  display: grid;
  grid-template-columns: 70px 1fr 60px 20px;
  grid-template-rows: 8px 1fr 1fr 8px;
  grid-template-areas: "margin margin photo" "menu top photo" "menu bottom photo" "margin2 margin2 photo";
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 7;
  margin-bottom: 30px; }
  .introduction-mobile .go-index {
    grid-area: menu; }
  .introduction-mobile h3, .introduction-mobile h4, .introduction-mobile p {
    color: white;
    padding: 0;
    margin: 0; }
  .introduction-mobile h3 {
    line-height: 20px;
    grid-area: top;
    font-size: 16px;
    text-transform: none; }
  .introduction-mobile h4 {
    grid-area: bottom;
    line-height: 20px;
    font-size: 14px;
    text-transform: none;
    font-style: italic;
    font-weight: 100; }
  .introduction-mobile p {
    display: block;
    grid-area: photo;
    line-height: 0;
    width: calc(60px - 6px);
    height: calc(60px - 6px);
    overflow: hidden;
    border-radius: 50%;
    margin: 3px; }
  .introduction-mobile img {
    width: 78px;
    height: 78px;
    left: 50%;
    top: 50%;
    transform: translate(-55%, -50%);
    position: relative; }

@media print {
  .introduction-mobile {
    display: none; } }

@media only screen and (min-width: 801px) {
  .introduction-mobile {
    display: none; } }

.introduction {
  background: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 40px; }
  .introduction #Daniel-amp-Wilma {
    font-size: 16px;
    font-weight: 900; }
  .introduction [id^="Nieuwsbrief-"] {
    color: white;
    background: #D22630;
    border-radius: 30px;
    display: inline;
    padding: 7px 20px; }
  .introduction p {
    text-align: center; }
  .introduction img {
    border-radius: 50%;
    max-width: 60%; }

@media only screen and (max-width: 800px) {
  .introduction {
    display: none; } }

.navigator-helper {
  position: absolute;
  right: 17px;
  top: 0;
  height: 44px;
  z-index: 10;
  display: flex; }
  .navigator-helper .go-up {
    stroke: #383838; }
  .navigator-helper .go-down {
    stroke: #383838; }
  .navigator-helper .go-up,
  .navigator-helper .go-down {
    box-sizing: content-box;
    width: 20px;
    padding: 0 4px; }
  .navigator-helper.is-first .go-up,
  .navigator-helper.is-last .go-down {
    display: none; }

@media only screen and (max-width: 800px) {
  .percentage-read {
    position: absolute;
    height: 3px;
    bottom: -3px;
    left: -1px;
    z-index: 15;
    background: #D22630; } }

@media only screen and (max-width: 800px) {
  .personal-story {
    margin-top: 40px;
    position: relative;
    z-index: 2;
    margin-bottom: 60px; }
    .personal-story:after {
      content: '';
      background: #f5f5f5;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      display: block;
      height: calc(100% - 60px);
      position: absolute;
      top: 80px;
      left: 0;
      right: -20px;
      z-index: -1; }
    .personal-story p {
      position: static;
      margin-left: 40px; }
    .personal-story img {
      position: absolute;
      top: 48px;
      right: -2px;
      margin: 0;
      z-index: 3; }
    .personal-story .columns {
      margin-top: 80px; }
    .personal-story .author-name {
      top: 65px;
      right: 45px;
      font-size: 13px;
      font-weight: bold;
      position: absolute;
      background: #D22630;
      padding: 7px 30px 7px 20px;
      display: block;
      z-index: 2;
      color: white;
      border-radius: 30px; }
    .personal-story .read-more {
      position: relative; }
      .personal-story .read-more:after {
        left: 20px;
        background: linear-gradient(to bottom, rgba(245, 245, 245, 0.3) 0%, rgba(245, 245, 245, 0.8) 30%, whitesmoke 60%); }
      .personal-story .read-more .read-more-toggle {
        bottom: 0;
        font-variant: small-caps;
        text-transform: lowercase;
        letter-spacing: 1px;
        color: #383838;
        background: transparent;
        font-style: normal !important; } }

@media print {
  .personal-story h2 {
    margin-left: 20px; } }

@media only screen and (min-width: 801px) {
  .personal-story h2 {
    margin-left: 20px; } }

.posts-wrapper {
  max-width: 500px;
  margin: 0 auto; }

.post-teaser {
  display: flex;
  background: white;
  text-decoration: none;
  align-items: center;
  border: 1px solid #D22630;
  padding: 6px; }
  .post-teaser .texts {
    margin-left: 20px; }
    .post-teaser .texts .title {
      padding-top: 0; }

@media only screen and (max-width: 800px) {
  .read-more {
    overflow: hidden;
    transition: height .3s ease-in-out;
    position: relative;
    padding-bottom: 30px; }
    .read-more:after {
      position: absolute;
      height: 100%;
      width: 100%;
      content: '';
      top: 0;
      left: 0;
      display: block;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0.9) 100%); }
    .read-more .read-more-toggle {
      position: absolute;
      bottom: 0;
      transform: translateX(-50%);
      left: 50%;
      z-index: 1;
      font-size: 14px;
      cursor: pointer;
      border-radius: 20px;
      padding: 6px 15px;
      display: block;
      background: #f5f5f5;
      font-variant: small-caps;
      text-transform: lowercase;
      letter-spacing: 1px;
      color: #383838; }
      .read-more .read-more-toggle .expanded {
        display: none; }
    .read-more.visible {
      max-height: none; }
      .read-more.visible .read-more-toggle .collapsed {
        display: none; }
      .read-more.visible .read-more-toggle .expanded {
        display: inline; }
      .read-more.visible:after {
        display: none; } }

@media print {
  .read-more-toggle {
    display: none; } }

@media only screen and (min-width: 801px) {
  .read-more-toggle {
    display: none; } }

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 18px;
    line-height: 25px; }
  h1,
  h2 {
    cursor: pointer;
    user-select: none;
    background: white;
    max-width: 100vw;
    margin: 30px -20px 10px;
    padding: 10px 20px;
    transition: all .1s ease-in-out;
    z-index: 6;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    border: 1px solid transparent;
    position: sticky;
    top: 60px;
    text-transform: none;
    font-style: italic; }
    h1 .info,
    h2 .info {
      font-style: italic;
      color: #cdcdcd;
      font-size: 14px;
      margin-left: 10px;
      letter-spacing: 2px;
      display: none;
      float: right;
      margin-right: 60px;
      opacity: .6; }
    h1:after,
    h2:after {
      content: '';
      display: block;
      height: 7px;
      background: linear-gradient(to top, rgba(77, 77, 77, 0) 0%, rgba(77, 77, 77, 0.2) 100%);
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      opacity: 0;
      transition: opacity .1s ease-in-out; }
    h1.is-sticky,
    h2.is-sticky {
      border-bottom: 1px solid #D22630; }
      h1.is-sticky:after,
      h2.is-sticky:after {
        opacity: 1; }
      h1.is-sticky .info,
      h2.is-sticky .info {
        display: none; } }

@media print {
  .page > div > h1,
  .page > div > h2 {
    padding-left: 20px;
    padding-right: 20px; }
  .page h1 .info, .page h2 .info {
    display: none; } }

@media only screen and (min-width: 801px) {
  .page > div > h1,
  .page > div > h2 {
    padding-left: 20px;
    padding-right: 20px; }
  .page h1 .info, .page h2 .info {
    display: none; } }

.nieuwsbrief-1 .right-half p:last-child {
  margin-bottom: 0; }
  .nieuwsbrief-1 .right-half p:last-child img {
    margin-top: 30px;
    display: block; }

@media only screen and (max-width: 800px) {
  .nieuwsbrief-1 .sidebar {
    display: none; }
  .nieuwsbrief-1 .other .list div:nth-child(1) {
    order: 4; }
  .nieuwsbrief-1 .other .list div:nth-child(2) {
    order: 5; }
  .nieuwsbrief-1 .other .list div:nth-child(3) {
    order: 1; }
  .nieuwsbrief-1 .other .list div:nth-child(4) {
    order: 4; }
  .nieuwsbrief-1 .other .list div:nth-child(5) {
    order: 2; }
  .nieuwsbrief-1 #Helpt-u-mee {
    position: relative;
    top: 30px;
    z-index: 6;
    left: 50%;
    transform: translateX(-50%);
    float: left; }
    .nieuwsbrief-1 #Helpt-u-mee a:not(.headerlink) {
      display: block;
      padding: 10px 20px;
      font-variant: small-caps;
      text-decoration: none;
      text-transform: lowercase;
      letter-spacing: 1px;
      color: white;
      background: #D22630;
      border-radius: 30px; } }

@media print {
  .nieuwsbrief-1 .page .left {
    position: relative;
    z-index: 1; }
    .nieuwsbrief-1 .page .left:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      background: #D22630;
      height: 120px;
      left: 0;
      z-index: -1;
      bottom: 0; }
  .nieuwsbrief-1 img[alt="Familie bijbel"] {
    margin-top: 50px;
    object-fit: cover;
    object-position: center;
    display: block;
    height: 305px;
    padding-bottom: 40px; }
  .nieuwsbrief-1 .left-half {
    position: relative; }
    .nieuwsbrief-1 .left-half:after {
      position: absolute;
      content: '';
      display: block;
      bottom: 0;
      width: 100%;
      height: 100px;
      background: #f5f5f5;
      z-index: -1; } }

@media only screen and (min-width: 801px) {
  .nieuwsbrief-1 .page .left {
    position: relative;
    z-index: 1; }
    .nieuwsbrief-1 .page .left:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      background: #D22630;
      height: 120px;
      left: 0;
      z-index: -1;
      bottom: 0; }
  .nieuwsbrief-1 img[alt="Familie bijbel"] {
    margin-top: 50px;
    object-fit: cover;
    object-position: center;
    display: block;
    height: 305px;
    padding-bottom: 40px; }
  .nieuwsbrief-1 .left-half {
    position: relative; }
    .nieuwsbrief-1 .left-half:after {
      position: absolute;
      content: '';
      display: block;
      bottom: 0;
      width: 100%;
      height: 100px;
      background: #f5f5f5;
      z-index: -1; } }
