@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto+Slab:wght@700&display=swap");
@media only screen and (max-width: 800px) {
  img[alt="author-image"] {
    display: none; }
  img[alt="author-image-mobile"] {
    max-width: 70px;
    border-radius: 50%;
    float: right;
    margin: 15px; }
  .page > div:not(.header):not(.introduction-mobile) {
    padding: 0 20px; }
    .page > div:not(.header):not(.introduction-mobile) img:not([alt="author-image"]) {
      margin-left: -20px; } }

@media only screen and (min-width: 1250px) {
  body.post {
    padding: 80px 0;
    display: grid;
    grid-row-gap: 100px; } }

@media print {
  img[alt="author-image-mobile"] {
    display: none; }
  img[alt="author-image"] {
    max-width: 100px;
    border-radius: 50%;
    float: right;
    margin: 15px; }
  .columns + h2 {
    margin-top: 15px; }
  .page-break {
    height: 80px;
    page-break-after: always; }
  .page {
    display: grid;
    grid-template-columns: 16.75% 16.75% 16.75% 16.75% 16.5% 16.5%;
    grid-template-rows: auto;
    background: white;
    box-shadow: 0 0 20px rgba(56, 56, 56, 0.4); }
    .page > div:first-child {
      margin-top: 40px; }
    .page .text {
      padding: 0 20px; }
    .page .columns {
      width: 100%;
      column-count: 2;
      padding: 0 20px;
      column-gap: 80px;
      -webkit-backface-visibility: hidden; }
      .page .columns p {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        display: inline-block; }
      .page .columns img:not([alt="author-image"]) {
        max-width: calc(100% + 60px); }
    .page .left .columns {
      column-gap: 40px; }
    .page .full {
      padding: 0 20px; }
    .page .full,
    .page .header,
    .page .horizontal-bar {
      grid-column-start: 1;
      grid-column-end: 8; }
    .page .left {
      grid-column-start: 1;
      grid-column-end: 5;
      padding: 20px; }
    .page .sidebar {
      padding: 20px;
      background: #f5f5f5; }
    .page .left-half {
      grid-column-start: 1;
      grid-column-end: 4; }
      .page .left-half div {
        border-top-right-radius: 30px;
        padding-left: 60px;
        padding-right: 40px; }
    .page .right-half {
      grid-column-start: 4;
      grid-column-end: 8; }
      .page .right-half div {
        border-top-left-radius: 30px;
        padding-left: 40px;
        padding-right: 40px; }
    .page .left-small {
      grid-column-start: 1;
      grid-column-end: 4; }
      .page .left-small .sidebar {
        padding-left: 40px;
        border-top-right-radius: 30px; }
    .page .right {
      grid-column-start: 4;
      grid-column-end: 8;
      padding: 20px; }
    .page .right-small {
      grid-column-start: 5;
      grid-column-end: 8; }
      .page .right-small .sidebar {
        border-top-left-radius: 30px;
        padding-right: 40px; }
  .left,
  .left-small,
  .left-half,
  .right,
  .right-small,
  .right-half {
    display: flex;
    flex-direction: column; }
    .left > *,
    .left-small > *,
    .left-half > *,
    .right > *,
    .right-small > *,
    .right-half > * {
      flex: 1 1 auto; }
  .left > *,
  .left-small > * {
    padding-left: 40px !important; }
  .left-half .sidebar {
    margin-top: 40px;
    padding-left: 60px !important; }
  .right-small > * {
    padding-left: 40px !important;
    padding-right: 60px !important; }
  .full {
    padding-left: 40px !important;
    padding-right: 40px !important; } }

@media only screen and (min-width: 801px) {
  img[alt="author-image-mobile"] {
    display: none; }
  img[alt="author-image"] {
    max-width: 100px;
    border-radius: 50%;
    float: right;
    margin: 15px; }
  .columns + h2 {
    margin-top: 15px; }
  .page-break {
    height: 80px;
    page-break-after: always; }
  .page {
    display: grid;
    grid-template-columns: 16.75% 16.75% 16.75% 16.75% 16.5% 16.5%;
    grid-template-rows: auto;
    background: white;
    box-shadow: 0 0 20px rgba(56, 56, 56, 0.4); }
    .page > div:first-child {
      margin-top: 40px; }
    .page .text {
      padding: 0 20px; }
    .page .columns {
      width: 100%;
      column-count: 2;
      padding: 0 20px;
      column-gap: 80px;
      -webkit-backface-visibility: hidden; }
      .page .columns p {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        display: inline-block; }
      .page .columns img:not([alt="author-image"]) {
        max-width: calc(100% + 60px); }
    .page .left .columns {
      column-gap: 40px; }
    .page .full {
      padding: 0 20px; }
    .page .full,
    .page .header,
    .page .horizontal-bar {
      grid-column-start: 1;
      grid-column-end: 8; }
    .page .left {
      grid-column-start: 1;
      grid-column-end: 5;
      padding: 20px; }
    .page .sidebar {
      padding: 20px;
      background: #f5f5f5; }
    .page .left-half {
      grid-column-start: 1;
      grid-column-end: 4; }
      .page .left-half div {
        border-top-right-radius: 30px;
        padding-left: 60px;
        padding-right: 40px; }
    .page .right-half {
      grid-column-start: 4;
      grid-column-end: 8; }
      .page .right-half div {
        border-top-left-radius: 30px;
        padding-left: 40px;
        padding-right: 40px; }
    .page .left-small {
      grid-column-start: 1;
      grid-column-end: 4; }
      .page .left-small .sidebar {
        padding-left: 40px;
        border-top-right-radius: 30px; }
    .page .right {
      grid-column-start: 4;
      grid-column-end: 8;
      padding: 20px; }
    .page .right-small {
      grid-column-start: 5;
      grid-column-end: 8; }
      .page .right-small .sidebar {
        border-top-left-radius: 30px;
        padding-right: 40px; }
  .left,
  .left-small,
  .left-half,
  .right,
  .right-small,
  .right-half {
    display: flex;
    flex-direction: column; }
    .left > *,
    .left-small > *,
    .left-half > *,
    .right > *,
    .right-small > *,
    .right-half > * {
      flex: 1 1 auto; }
  .left > *,
  .left-small > * {
    padding-left: 40px !important; }
  .left-half .sidebar {
    margin-top: 40px;
    padding-left: 60px !important; }
  .right-small > * {
    padding-left: 40px !important;
    padding-right: 60px !important; }
  .full {
    padding-left: 40px !important;
    padding-right: 40px !important; } }

@media print {
  body {
    background: white !important;
    padding: 0;
    grid-row-gap: 0;
    font-size: 15px; }
  .page {
    box-shadow: none;
    background: white; }
  .page-break {
    display: none !important; }
  .logo {
    top: 0 !important; }
  .header {
    box-shadow: none !important; } }

body {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #4d4d4d;
  background-color: white;
  line-height: 1.4;
  width: 100vw;
  overflow-x: hidden; }

@media print {
  body.post {
    background-color: #c6b8b8; } }

@media only screen and (min-width: 801px) {
  body.post {
    background-color: #c6b8b8; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #D22630;
  padding: 10px 0; }

h1 {
  margin-bottom: 20px; }

h2, h3, h4 {
  text-transform: uppercase; }

strong {
  font-weight: 900; }

em {
  font-style: italic; }

* {
  box-sizing: border-box; }

a[href] {
  color: #D22630; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 16px; }

ul {
  padding-left: 20px;
  margin-top: 0;
  list-style: none; }
  ul li::before {
    content: "\2022";
    color: #D22630;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    width: 20px;
    margin-left: -20px; }

h5 {
  color: #4d4d4d;
  font-size: 15px; }

.nowrap {
  white-space: nowrap; }

.page {
  max-width: 1160px;
  margin: 0 auto; }

.no-transitions, .no-transitions * {
  transition: none !important;
  opacity: 0; }

p {
  margin: 0 0 20px 0;
  position: relative; }

img {
  max-width: 100vw; }

@media only screen and (max-width: 800px) {
  .tablet {
    display: none !important; } }

@media print {
  img {
    width: 100%; }
  .hide-on-desktop,
  .only-mobile {
    display: none !important; } }

@media only screen and (min-width: 801px) {
  img {
    width: 100%; }
  .hide-on-desktop,
  .only-mobile {
    display: none !important; } }

@media print {
  h1 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    text-transform: uppercase; }
  h2 {
    font-size: 20px; } }

@media only screen and (min-width: 801px) {
  h1 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    text-transform: uppercase; }
  h2 {
    font-size: 20px; } }

#__bs_notify__ {
  display: none !important; }

@media only screen and (max-width: 800px) {
  .hide-on-mobile {
    display: none; } }

.bible-quote {
  position: absolute;
  right: 40px;
  z-index: 1000;
  max-width: 380px;
  text-align: right;
  color: white;
  font-size: 20px;
  font-weight: 900;
  display: none;
  bottom: 80px;
  text-shadow: 0 0 10px black; }

@media print {
  .bible-quote {
    display: block; }
  body:not(.post) .header:before {
    content: '';
    display: block;
    width: 400px;
    position: absolute;
    height: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.4) 100%);
    right: 0;
    top: 0;
    z-index: 100; } }

@media only screen and (min-width: 801px) {
  .bible-quote {
    display: block; }
  body:not(.post) .header:before {
    content: '';
    display: block;
    width: 400px;
    position: absolute;
    height: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.4) 100%);
    right: 0;
    top: 0;
    z-index: 100; } }

.center {
  text-align: center; }

.page > .donate {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 8;
  padding: 60px;
  padding-bottom: 0; }
  .page > .donate table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 20px;
    background: white; }
    .page > .donate table td {
      padding: 5px;
      border: 1px solid gray;
      text-align: center; }
  .page > .donate strong {
    font-weight: normal;
    padding: 50px 50px;
    display: block;
    background: #f5f5f5;
    color: black;
    border-radius: 30px;
    position: relative;
    z-index: 1; }
    .page > .donate strong em {
      font-weight: bold;
      font-style: normal; }

@media only screen and (max-width: 800px) {
  .page > .donate {
    padding: 0 20px !important; }
    .page > .donate .thermometer {
      background: rgba(245, 245, 245, 0.5) url("/images/thermometer-text.svg") no-repeat center;
      width: calc(100% + 40px);
      margin: 30px -20px;
      padding-bottom: 80%;
      background-size: 40%; }
    .page > .donate img[alt="watering"] {
      height: 600px;
      object-fit: cover;
      object-position: top center;
      margin-bottom: -5px; }
    .page > .donate .thermometer + p {
      text-align: center; }
    .page > .donate .thermometer ~ .center p em {
      font-weight: bold;
      font-style: normal;
      color: #D22630; }
    .page > .donate > p:last-child {
      margin-bottom: 0; }
    .page > .donate strong {
      position: absolute;
      top: 85px;
      margin-left: 20px;
      margin-right: 20px; }
    .page > .donate .center {
      position: relative;
      margin-bottom: 30px; } }

@media print {
  .page > .donate {
    padding-right: calc(40% + 140px);
    position: relative;
    text-align: center; }
    .page > .donate .thermometer {
      background: url("/images/thermometer-text.svg") no-repeat;
      position: absolute;
      width: 200px;
      height: 382px;
      background-size: contain;
      left: calc(60% - 132px);
      top: 50%;
      transform: translateY(-50%);
      z-index: 1; }
    .page > .donate table td {
      border-color: #D22630;
      color: #D22630; }
    .page > .donate h2 + div > p:nth-child(1) {
      font-weight: bold;
      color: #D22630; }
    .page > .donate #Eerste-berichtje-uit-het-TFT {
      text-align: center;
      margin-bottom: 10px; }
    .page > .donate h2 ~ p {
      margin-top: 10px;
      text-align: center; }
    .page > .donate h2 {
      padding-left: 0; }
    .page > .donate h2 ~ p {
      position: static;
      margin-bottom: 15px; }
    .page > .donate > p:last-child {
      margin-bottom: -15px; }
    .page > .donate strong {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      padding-bottom: 30px;
      padding-top: 30px;
      text-align: center; }
      .page > .donate strong em {
        color: #D22630; }
    .page > .donate img[alt="watering"] {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: 100%;
      width: calc(40% - 30px);
      object-fit: cover;
      object-position: center right; } }

@media only screen and (min-width: 801px) {
  .page > .donate {
    padding-right: calc(40% + 140px);
    position: relative;
    text-align: center; }
    .page > .donate .thermometer {
      background: url("/images/thermometer-text.svg") no-repeat;
      position: absolute;
      width: 200px;
      height: 382px;
      background-size: contain;
      left: calc(60% - 132px);
      top: 50%;
      transform: translateY(-50%);
      z-index: 1; }
    .page > .donate table td {
      border-color: #D22630;
      color: #D22630; }
    .page > .donate h2 + div > p:nth-child(1) {
      font-weight: bold;
      color: #D22630; }
    .page > .donate #Eerste-berichtje-uit-het-TFT {
      text-align: center;
      margin-bottom: 10px; }
    .page > .donate h2 ~ p {
      margin-top: 10px;
      text-align: center; }
    .page > .donate h2 {
      padding-left: 0; }
    .page > .donate h2 ~ p {
      position: static;
      margin-bottom: 15px; }
    .page > .donate > p:last-child {
      margin-bottom: -15px; }
    .page > .donate strong {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      padding-bottom: 30px;
      padding-top: 30px;
      text-align: center; }
      .page > .donate strong em {
        color: #D22630; }
    .page > .donate img[alt="watering"] {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: 100%;
      width: calc(40% - 30px);
      object-fit: cover;
      object-position: center right; } }

a[href="https://www.operatiemobilisatie.nl/danielenwilma"] {
  display: inline-block;
  padding: 10px 20px 13px 20px;
  font-variant: small-caps;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: white !important;
  background: #D22630;
  font-size: 20px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 15px; }
  a[href="https://www.operatiemobilisatie.nl/danielenwilma"] img {
    width: 30px !important;
    float: left;
    transform: translateY(-2px);
    margin-left: 0 !important;
    margin-right: 10px;
    filter: grayscale(1) invert(1); }

.frontpage {
  height: 100vh;
  width: 100vw;
  margin: auto;
  display: grid;
  background: white;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "logo" "menuRight" "right" "left" "sponsor" "newsletter-archive" "newsletter"; }
  @media all and (min-width: 961px) {
    .frontpage {
      max-height: 1000px;
      grid-template-columns: 1fr minmax(200px, 600px) 0 minmax(200px, 600px) 1fr;
      grid-template-rows: auto 1fr 120px;
      grid-template-areas: "leftNone menuLeft logo menuRight rightNone" "leftNone left noneCenter right rightNone" "leftNone sponsor sponsor newsletter rightNone"; } }
  .frontpage:after {
    content: '';
    background: #eee;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1; }
  .frontpage .f-menu.f-left {
    grid-area: menuLeft;
    background: white;
    display: none; }
    .frontpage .f-menu.f-left a {
      color: #cdcdcd; }
    @media all and (min-width: 961px) {
      .frontpage .f-menu.f-left {
        display: flex; } }
  .frontpage .f-menu {
    display: flex;
    padding: 30px 40px;
    position: relative;
    z-index: 3; }
    .frontpage .f-menu a {
      padding: 10px 20px;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      text-transform: lowercase;
      letter-spacing: 2px;
      font-size: 17px; }
      .frontpage .f-menu a.active {
        color: #D22630; }
  .frontpage .f-hero {
    grid-area: right;
    padding: 0 30px 30px 30px;
    margin-bottom: 20px;
    position: relative;
    z-index: 3; }
    .frontpage .f-hero .f-title {
      color: white;
      text-transform: none;
      font-size: 26px;
      text-align: center; }
    .frontpage .f-hero .f-buttons {
      display: flex;
      margin-top: 30px;
      justify-content: center; }
      @media all and (max-width: 500px) {
        .frontpage .f-hero .f-buttons {
          flex-direction: column; } }
      @media all and (min-width: 961px) {
        .frontpage .f-hero .f-buttons {
          flex-direction: column;
          justify-content: flex-end; } }
    @media all and (min-width: 961px) {
      .frontpage .f-hero {
        padding: 0 60px 30px 60px;
        margin-bottom: 0; }
        .frontpage .f-hero .f-title {
          text-align: right; } }
    @media all and (min-width: 1301px) {
      .frontpage .f-hero {
        padding: 0 0 30px 180px; } }
  .frontpage .f-menu.f-right {
    grid-area: menuRight;
    justify-content: center; }
    @media all and (min-width: 961px) {
      .frontpage .f-menu.f-right {
        justify-content: flex-end; } }
    .frontpage .f-menu.f-right a {
      color: white; }
    @media all and (min-width: 1300px) {
      .frontpage .f-menu.f-right {
        margin-right: -60px; } }
  .frontpage .f-background {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    position: relative;
    grid-row-end: 4;
    background: url("/images/header-big.jpg");
    background-size: cover;
    background-position: center right;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    z-index: 1; }
    @media all and (max-width: 960px) {
      .frontpage .f-background:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: .3;
        z-index: -1; } }
    @media all and (min-width: 961px) {
      .frontpage .f-background {
        grid-row-end: 3;
        background-position: center center; } }
  .frontpage .f-logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 3; }
    .frontpage .f-logo .f-logo-image {
      margin: 0 30px;
      display: block;
      width: 120px;
      height: 100px; }
  .frontpage .f-newsletter-archive {
    display: flex;
    flex-direction: column;
    background: #FFE8E8;
    padding: 60px;
    max-height: calc(100vh - 120px);
    z-index: 40;
    grid-area: newsletter-archive;
    position: relative;
    transition: all .4s ease-in-out; }
    @media all and (min-width: 961px) {
      .frontpage .f-newsletter-archive {
        margin-left: auto;
        max-width: 280px;
        padding: 20px;
        overflow-y: auto;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3; }
        .frontpage .f-newsletter-archive:not(.active) {
          opacity: 0;
          pointer-events: none;
          transform: translateY(-100%); }
        .frontpage .f-newsletter-archive .f-close {
          width: 20px;
          height: 20px;
          display: block;
          position: absolute;
          top: 33px;
          right: 20px;
          float: right;
          cursor: pointer; }
          .frontpage .f-newsletter-archive .f-close:before, .frontpage .f-newsletter-archive .f-close:after {
            background: #D22630;
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            position: absolute;
            top: 50%;
            left: 50%; }
          .frontpage .f-newsletter-archive .f-close:before {
            transform: translate(-50%, -50%) rotate(-45deg); }
          .frontpage .f-newsletter-archive .f-close:after {
            transform: translate(-50%, -50%) rotate(45deg); } }
    .frontpage .f-newsletter-archive h3 {
      text-align: center;
      text-transform: none;
      margin-bottom: 20px; }
    .frontpage .f-newsletter-archive .f-post-teaser {
      border-bottom: 3px solid #D22630;
      background: white;
      padding: 20px;
      text-decoration: none;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin-bottom: 20px; }
      .frontpage .f-newsletter-archive .f-post-teaser .f-emblem {
        width: 30px;
        height: 30px;
        color: white;
        background: #D22630;
        border-radius: 50%;
        line-height: 30px;
        display: inline-block;
        text-align: center;
        margin-bottom: 20px; }
      .frontpage .f-newsletter-archive .f-post-teaser .f-title {
        color: black;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 20px; }
      .frontpage .f-newsletter-archive .f-post-teaser .f-description {
        max-width: 200px; }
  .frontpage .f-subscribe-newsletter {
    grid-area: newsletter;
    text-align: center;
    display: flex;
    padding: 60px;
    flex-direction: column;
    justify-content: center;
    background: white;
    z-index: 30;
    position: relative; }
    @media all and (min-width: 961px) {
      .frontpage .f-subscribe-newsletter {
        padding: 0;
        padding-right: 60px;
        align-items: flex-end;
        position: sticky;
        bottom: 0; }
        .frontpage .f-subscribe-newsletter:after {
          content: '';
          display: block;
          background: #f3f3f3;
          width: 100vw;
          max-width: 600px;
          height: 100%;
          position: absolute;
          z-index: -1;
          left: 0; } }
    @media all and (min-width: 961px) and (min-width: 1201px) {
      .frontpage .f-subscribe-newsletter:after {
        left: 200px; } }
    @media all and (min-width: 1300px) {
      .frontpage .f-subscribe-newsletter {
        padding-right: 0; } }
    .frontpage .f-subscribe-newsletter h3 {
      text-transform: none;
      padding-top: 0; }
    .frontpage .f-subscribe-newsletter .f-subscribe-button {
      background: #D22630;
      color: white;
      text-decoration: none;
      border: 0;
      padding: 10px 20px;
      font-weight: bold; }
  .frontpage .f-mission-and-about {
    grid-area: left;
    position: relative;
    z-index: 3;
    margin-top: -1px; }
    .frontpage .f-mission-and-about .f-tab-content {
      display: none;
      padding: 40px 20px 0;
      background: white;
      border-bottom-right-radius: 30px; }
      .frontpage .f-mission-and-about .f-tab-content p {
        line-height: 27px; }
      @media all and (min-width: 500px) {
        .frontpage .f-mission-and-about .f-tab-content {
          padding: 40px 60px 0; } }
      @media all and (min-width: 1181px) {
        .frontpage .f-mission-and-about .f-tab-content {
          border-bottom-left-radius: 30px; } }
      .frontpage .f-mission-and-about .f-tab-content .f-title {
        font-family: 'Roboto Slab';
        font-size: 34px;
        color: #333;
        text-transform: none;
        word-break: break-word;
        margin-bottom: 30px;
        text-align: center; }
      @media all and (min-width: 961px) {
        .frontpage .f-mission-and-about .f-tab-content {
          margin-bottom: 140px;
          padding: 0 60px 60px; }
          .frontpage .f-mission-and-about .f-tab-content .f-title {
            text-align: left; } }
      .frontpage .f-mission-and-about .f-tab-content.active {
        display: block; }
    .frontpage .f-mission-and-about .f-tabs {
      display: flex; }
      .frontpage .f-mission-and-about .f-tabs .f-tab-link {
        flex: 1 1 auto;
        background: white;
        border: 0;
        padding: 20px;
        font-weight: bold;
        color: #333; }
        .frontpage .f-mission-and-about .f-tabs .f-tab-link:not(.active) {
          color: #777;
          background: #f3f3f3; }
      @media all and (min-width: 961px) {
        .frontpage .f-mission-and-about .f-tabs {
          display: none; } }
  .frontpage .f-sponsors {
    grid-area: sponsor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 40px;
    background: white;
    z-index: 30;
    flex-direction: column; }
    @media all and (max-width: 960px) {
      .frontpage .f-sponsors {
        flex-wrap: wrap; }
        .frontpage .f-sponsors h3 {
          flex: 1 1 auto;
          text-align: center;
          margin-bottom: 20px; } }
    @media all and (min-width: 480px) and (max-width: 960px) {
      .frontpage .f-sponsors h3 {
        flex: 0 0 100%; } }
    @media all and (min-width: 480px) {
      .frontpage .f-sponsors {
        flex-direction: row; } }
    @media all and (max-width: 480px) {
      .frontpage .f-sponsors .f-sponsor:nth-child(2) {
        display: none; }
      .frontpage .f-sponsors .f-sponsor:nth-child(3) {
        display: none; } }
    @media all and (min-width: 961px) {
      .frontpage .f-sponsors {
        position: sticky;
        bottom: 0;
        padding: 0 20px 0 60px; }
        .frontpage .f-sponsors h3 {
          max-width: 200px; } }
    @media all and (min-width: 1300px) {
      .frontpage .f-sponsors {
        padding-left: 0; } }
    .frontpage .f-sponsors h3 {
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: none;
      font-weight: bold;
      min-width: 100px;
      color: #D22630;
      margin-right: 30px; }
    .frontpage .f-sponsors .f-sponsor {
      background: #D22630;
      border-radius: 50%;
      display: inline-flex;
      color: white;
      text-align: center;
      font-size: 14px;
      width: 80px;
      height: 80px;
      flex: 0 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
      justify-content: center;
      text-decoration: none;
      align-content: center;
      justify-items: center;
      align-items: center;
      margin-right: 20px;
      line-height: 16px;
      font-weight: bold; }
  .frontpage .f-button {
    padding: 10px 20px;
    display: inline-block;
    appearance: none;
    border-radius: 40px;
    border: 0;
    background: #D22630;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: auto;
    text-align: center;
    margin-bottom: 20px; }
    @media all and (min-width: 501px) {
      .frontpage .f-button + .f-button {
        margin-left: 20px; } }
    @media all and (min-width: 961px) {
      .frontpage .f-button {
        margin-left: auto;
        margin-bottom: 10px; }
        .frontpage .f-button + .f-button {
          margin-left: auto; } }
    .frontpage .f-button img {
      width: 30px;
      filter: grayscale(1) invert(1);
      margin: -6px 10px -6px 0; }
  @media all and (min-width: 961px) {
    .frontpage .f-shadow {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 4;
      position: sticky;
      bottom: 0;
      z-index: 30;
      background: white; }
      .frontpage .f-shadow:after {
        width: 100vw;
        max-width: 1600px;
        content: '';
        display: block;
        left: 50%;
        position: absolute;
        bottom: 100%;
        transform: translateX(-50%);
        height: 20px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%); } }
  @media all and (max-width: 960px) {
    .frontpage .f-hide-mobile {
      display: none; } }
  .frontpage .f-author-image {
    width: 100px;
    border-radius: 50%;
    margin: 20px auto;
    display: block; }
    @media all and (min-width: 960px) {
      .frontpage .f-author-image {
        width: 100%;
        max-width: 140px;
        float: left;
        margin-bottom: 0;
        margin-right: 50px;
        margin-top: 0 !important;
        margin-left: 30px;
        border-radius: 50%; } }

.header {
  width: 100%;
  position: relative;
  height: 180px;
  max-width: 1160px;
  margin: 0 auto; }
  .header img {
    display: block; }
  .header .background {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover; }

.logo {
  position: sticky;
  margin-left: -100%;
  float: right;
  margin-right: 20px;
  top: 0;
  z-index: 11;
  right: 0;
  cursor: pointer;
  background: #D22630;
  width: 60px;
  height: 60px; }

@media print {
  .header {
    box-shadow: 0 0 20px rgba(56, 56, 56, 0.4);
    height: 280px;
    margin-bottom: -30px; }
    .header:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: -20px;
      background: white; }
  .logo {
    left: 0;
    margin-left: 60px;
    width: 110px;
    padding-top: 30px;
    height: 125px;
    position: absolute; } }

@media only screen and (min-width: 801px) {
  .header {
    box-shadow: 0 0 20px rgba(56, 56, 56, 0.4);
    height: 280px;
    margin-bottom: -30px; }
    .header:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: -20px;
      background: white; }
  .logo {
    left: 0;
    margin-left: 60px;
    width: 110px;
    padding-top: 30px;
    height: 125px;
    position: absolute; } }

@media only screen and (min-width: 1161px) {
  .logo {
    left: 50%;
    transform: translateX(-580px); } }

@media only screen and (min-width: 1250px) {
  .logo {
    top: 80px; } }

@media only screen and (max-width: 800px) {
  .horizontal-bar img {
    z-index: -1;
    margin-top: -50px;
    width: 100vw; }
  .horizontal-bar p:last-of-type {
    margin-bottom: 0; } }

@media print {
  .horizontal-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    width: 100%;
    padding: 50px 0 40px;
    margin-top: 0;
    margin-bottom: 0;
    background: transparent;
    position: relative; }
    .horizontal-bar:after {
      content: '';
      display: block;
      width: 100%;
      height: calc(100% - 160px);
      background: #D22630;
      z-index: 0;
      position: absolute; }
    .horizontal-bar h2 {
      display: none; }
    .horizontal-bar img {
      z-index: 3;
      position: relative;
      flex: 0 0 50%;
      display: block;
      margin: 0;
      height: 100%;
      object-fit: cover; }
    .horizontal-bar p {
      margin: 0;
      display: flex;
      z-index: 3;
      position: relative;
      padding-left: 60px;
      padding-right: 40px;
      flex: 0 0 50%; } }

@media only screen and (min-width: 801px) {
  .horizontal-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    width: 100%;
    padding: 50px 0 40px;
    margin-top: 0;
    margin-bottom: 0;
    background: transparent;
    position: relative; }
    .horizontal-bar:after {
      content: '';
      display: block;
      width: 100%;
      height: calc(100% - 160px);
      background: #D22630;
      z-index: 0;
      position: absolute; }
    .horizontal-bar h2 {
      display: none; }
    .horizontal-bar img {
      z-index: 3;
      position: relative;
      flex: 0 0 50%;
      display: block;
      margin: 0;
      height: 100%;
      object-fit: cover; }
    .horizontal-bar p {
      margin: 0;
      display: flex;
      z-index: 3;
      position: relative;
      padding-left: 60px;
      padding-right: 40px;
      flex: 0 0 50%; } }

.image-description {
  font-size: 14px;
  font-style: italic;
  color: grey; }

@media only screen and (max-width: 800px) {
  .index-popup {
    position: fixed;
    height: 100vh;
    width: calc(100vw - 60px);
    z-index: 40;
    opacity: 0;
    transition: all .4s ease-in-out;
    pointer-events: none; }
    .index-popup a {
      color: white; }
    .index-popup em {
      padding: 20px 20px 5px;
      display: block;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.7); }
    .index-popup .main {
      margin-top: 40px;
      margin-bottom: 60px; }
    .index-popup .group {
      transition: all .3s ease-in-out;
      padding: 0 20px;
      background: rgba(255, 255, 255, 0.9);
      color: #4d4d4d;
      overflow: hidden; }
      .index-popup .group a {
        color: #D22630; }
      .index-popup .group.visible {
        padding: 20px; }
    .index-popup .inner {
      position: absolute;
      z-index: 3;
      height: 100vh;
      transition: all .4s ease-in-out;
      width: 100%;
      transform: translateX(-100vw);
      background: #D22630;
      overflow-y: auto; }
    .index-popup .index-link {
      display: block;
      cursor: pointer;
      padding: 10px 20px;
      color: white;
      font-weight: bold;
      transition: all .3s ease-in-out; }
      .index-popup .index-link.active {
        color: #D22630;
        background: white; }
    .index-popup .close-index-popup {
      position: absolute;
      width: 30px;
      right: -45px;
      top: 18px;
      height: 100vh;
      z-index: 50; }
      .index-popup .close-index-popup svg {
        cursor: pointer;
        stroke: #4d4d4d; }
    .index-popup .main .index-link {
      text-transform: uppercase; }
      .index-popup .main .index-link:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .index-popup .other {
      padding-bottom: 20px; }
      .index-popup .other .list {
        display: flex;
        flex-direction: column; }
      .index-popup .other em {
        font-style: normal; }
      .index-popup .other .index-link {
        font-weight: normal;
        font-style: italic; }
        .index-popup .other .index-link:not(:last-child) {
          border-bottom: 1px dotted rgba(255, 255, 255, 0.3); }
        .index-popup .other .index-link.active {
          border-bottom-color: transparent; }
  html.show-index body {
    overflow: hidden; }
  html.show-index .index-popup {
    pointer-events: all;
    opacity: 1; }
    html.show-index .index-popup .inner {
      transform: translateX(0); }
  .go-index {
    z-index: 35;
    stroke: white;
    display: block; }
    .go-index svg {
      box-sizing: content-box;
      width: 26px;
      padding: 8px 20px;
      cursor: pointer; }
  html body:before {
    opacity: 0;
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 12;
    background: white;
    transition: opacity .3s ease-in-out;
    pointer-events: none; }
  html.show-index body:before {
    opacity: .8;
    pointer-events: all; } }

@media print {
  .index-popup,
  .go-index {
    display: none; } }

@media only screen and (min-width: 801px) {
  .index-popup,
  .go-index {
    display: none; } }

.introduction-mobile {
  background: #D22630;
  color: white;
  display: grid;
  grid-template-columns: 70px 1fr 60px 20px;
  grid-template-rows: 8px 1fr 1fr 8px;
  grid-template-areas: "margin margin photo" "menu top photo" "menu bottom photo" "margin2 margin2 photo";
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 7;
  margin-bottom: 30px; }
  .introduction-mobile .go-index {
    grid-area: menu; }
  .introduction-mobile h3, .introduction-mobile h4, .introduction-mobile p {
    color: white;
    padding: 0;
    margin: 0; }
  .introduction-mobile h3 {
    line-height: 20px;
    grid-area: top;
    font-size: 16px;
    text-transform: none; }
  .introduction-mobile h4 {
    grid-area: bottom;
    line-height: 20px;
    font-size: 14px;
    text-transform: none;
    font-style: italic;
    font-weight: 100; }
  .introduction-mobile p {
    display: block;
    grid-area: photo;
    line-height: 0;
    width: calc(60px - 6px);
    height: calc(60px - 6px);
    overflow: hidden;
    border-radius: 50%;
    margin: 3px; }
  .introduction-mobile img {
    width: 78px;
    height: 78px;
    left: 50%;
    top: 50%;
    transform: translate(-55%, -50%);
    position: relative;
    display: none; }

@media print {
  .introduction-mobile {
    display: none; } }

@media only screen and (min-width: 801px) {
  .introduction-mobile {
    display: none; } }

.introduction {
  background: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 40px; }
  .introduction #Daniel-amp-Wilma {
    font-size: 16px;
    font-weight: 900; }
  .introduction [id^="Nieuwsbrief-"] {
    color: white;
    background: #D22630;
    border-radius: 30px;
    display: inline;
    padding: 7px 20px; }
  .introduction p {
    text-align: center; }
  .introduction img {
    border-radius: 50%;
    max-width: 60%; }

@media only screen and (max-width: 800px) {
  .introduction {
    display: none; } }

.mailtoui-modal-title {
  white-space: normal; }

.mailtoui-brand {
  display: none; }

#mailtoui-button-3 {
  display: none !important; }

#mailtoui-button-copy {
  left: auto;
  right: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  width: 230px; }

.mailtoui-clients {
  display: flex;
  gap: 20px;
  justify-content: space-between; }

.navigator-helper {
  position: absolute;
  right: 17px;
  top: 0;
  height: 44px;
  z-index: 10;
  display: flex; }
  .navigator-helper .go-up {
    stroke: #383838; }
  .navigator-helper .go-down {
    stroke: #383838; }
  .navigator-helper .go-up,
  .navigator-helper .go-down {
    box-sizing: content-box;
    width: 20px;
    padding: 0 4px; }
  .navigator-helper.is-first .go-up,
  .navigator-helper.is-last .go-down {
    display: none; }

@media only screen and (max-width: 800px) {
  .percentage-read {
    position: absolute;
    height: 3px;
    bottom: -3px;
    left: -1px;
    z-index: 15;
    background: #D22630; } }

@media only screen and (max-width: 800px) {
  .personal-story {
    margin-top: 40px;
    position: relative;
    z-index: 2;
    margin-bottom: 60px; }
    .personal-story:after {
      content: '';
      background: #f5f5f5;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      display: block;
      height: calc(100% - 60px);
      position: absolute;
      top: 80px;
      left: 0;
      right: -20px;
      z-index: -1; }
    .personal-story p {
      position: static;
      margin-left: 40px; }
    .personal-story img {
      position: absolute;
      top: 48px;
      right: -2px;
      margin: 0;
      z-index: 3; }
    .personal-story .columns {
      margin-top: 80px; }
    .personal-story .author-name {
      top: 65px;
      right: 45px;
      font-size: 13px;
      font-weight: bold;
      position: absolute;
      background: #D22630;
      padding: 7px 30px 7px 20px;
      display: block;
      z-index: 2;
      color: white;
      border-radius: 30px; }
    .personal-story .read-more {
      position: relative; }
      .personal-story .read-more:after {
        left: 20px;
        background: linear-gradient(to bottom, rgba(245, 245, 245, 0.3) 0%, rgba(245, 245, 245, 0.8) 30%, whitesmoke 60%); }
      .personal-story .read-more .read-more-toggle {
        bottom: 0;
        font-variant: small-caps;
        text-transform: lowercase;
        letter-spacing: 1px;
        color: #383838;
        background: transparent;
        font-style: normal !important; } }

@media print {
  .personal-story h2 {
    margin-left: 20px; } }

@media only screen and (min-width: 801px) {
  .personal-story h2 {
    margin-left: 20px; } }

.posts-wrapper h3 {
  position: relative;
  width: auto;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 30px;
  font-size: 20px;
  text-transform: none; }
  .posts-wrapper h3:after {
    content: '';
    display: block;
    background: yellow;
    width: 100%;
    position: absolute;
    height: 10px;
    bottom: 9px;
    z-index: -1; }

.post-teaser {
  display: flex;
  background: white;
  text-decoration: none;
  align-items: flex-start;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px; }
  .post-teaser img {
    width: 50px;
    height: 50px;
    display: block; }
  .post-teaser .texts {
    margin-left: 20px; }
    .post-teaser .texts .title {
      padding-top: 0;
      font-weight: bold;
      margin-bottom: 30px;
      display: block;
      margin-top: 0px; }

@media print {
  .post-teaser img {
    width: 100px;
    height: 100px; }
  .post-teaser:after {
    top: 85px;
    left: 85px; } }

@media only screen and (min-width: 801px) {
  .post-teaser img {
    width: 100px;
    height: 100px; }
  .post-teaser:after {
    top: 85px;
    left: 85px; } }

@media only screen and (max-width: 800px) {
  .read-more {
    overflow: hidden;
    transition: height .3s ease-in-out;
    position: relative;
    padding-bottom: 30px; }
    .read-more:after {
      position: absolute;
      height: 100%;
      width: 100%;
      content: '';
      top: 0;
      left: 0;
      display: block;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0.9) 100%); }
    .read-more .read-more-toggle {
      position: absolute;
      bottom: 0;
      transform: translateX(-50%);
      left: 50%;
      z-index: 1;
      font-size: 14px;
      cursor: pointer;
      border-radius: 20px;
      padding: 6px 15px;
      display: block;
      background: #f5f5f5;
      font-variant: small-caps;
      text-transform: lowercase;
      letter-spacing: 1px;
      color: #383838; }
      .read-more .read-more-toggle .expanded {
        display: none; }
    .read-more.visible {
      max-height: none; }
      .read-more.visible .read-more-toggle .collapsed {
        display: none; }
      .read-more.visible .read-more-toggle .expanded {
        display: inline; }
      .read-more.visible:after {
        display: none; } }

@media print {
  .read-more-toggle {
    display: none; } }

@media only screen and (min-width: 801px) {
  .read-more-toggle {
    display: none; } }

.sponsor-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .sponsor-bar h4 {
    text-align: center;
    flex: 0 0 100%;
    font-size: 30px;
    text-transform: none;
    font-family: 'Roboto Slab', serif; }
  .sponsor-bar .dummy-logo {
    font-size: 15px;
    text-align: center;
    width: 90px;
    height: 90px;
    margin: 20px;
    background: #D22630;
    color: #f5f5f5;
    border-radius: 50%;
    font-weight: 900;
    position: relative; }
    .sponsor-bar .dummy-logo span {
      position: absolute;
      top: 50%;
      width: 80%;
      line-height: 19px;
      left: 50%;
      transform: translate(-50%, -50%); }

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 18px;
    line-height: 25px; }
  h1,
  h2 {
    cursor: pointer;
    user-select: none;
    background: white;
    max-width: 100vw;
    margin: 30px -20px 10px;
    padding: 10px 20px;
    transition: all .1s ease-in-out;
    z-index: 6;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    border: 1px solid transparent;
    position: sticky;
    top: 60px;
    text-transform: none;
    font-style: italic; }
    h1 .info,
    h2 .info {
      font-style: italic;
      color: #cdcdcd;
      font-size: 14px;
      margin-left: 10px;
      letter-spacing: 2px;
      display: none;
      float: right;
      margin-right: 60px;
      opacity: .6; }
    h1:after,
    h2:after {
      content: '';
      display: block;
      height: 7px;
      background: linear-gradient(to top, rgba(77, 77, 77, 0) 0%, rgba(77, 77, 77, 0.2) 100%);
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      opacity: 0;
      transition: opacity .1s ease-in-out; }
    h1.is-sticky,
    h2.is-sticky {
      border-bottom: 1px solid #D22630; }
      h1.is-sticky:after,
      h2.is-sticky:after {
        opacity: 1; }
      h1.is-sticky .info,
      h2.is-sticky .info {
        display: none; } }

@media print {
  .page > div > h1,
  .page > div > h2 {
    padding-left: 20px;
    padding-right: 20px; }
  .page h1 .info, .page h2 .info {
    display: none; } }

@media only screen and (min-width: 801px) {
  .page > div > h1,
  .page > div > h2 {
    padding-left: 20px;
    padding-right: 20px; }
  .page h1 .info, .page h2 .info {
    display: none; } }

.vacancy {
  background: #D22630;
  color: white;
  padding: 20px;
  margin-top: 30px;
  break-inside: avoid;
  margin-left: -60px;
  padding-left: 60px;
  border-top-right-radius: 30px;
  padding-right: 40px;
  position: relative;
  padding-top: 45px; }
  .vacancy h2 {
    color: white; }
  .vacancy li:before {
    color: white; }

.vacancy-mobile {
  padding: 20px;
  color: white;
  padding-top: 0;
  position: relative;
  text-align: center; }
  .vacancy-mobile:after {
    border-radius: 10px;
    display: block;
    content: '';
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: #D22630; }
  .vacancy-mobile h2 {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: left; }
  .vacancy-mobile li:before {
    color: white; }

.wave {
  position: absolute;
  z-index: 4;
  bottom: -1px;
  width: 100%;
  height: 60px; }
  .wave path {
    fill: #D22630; }

@media print {
  .wave {
    height: 115px; }
    .wave path {
      fill: white; } }

@media only screen and (min-width: 801px) {
  .wave {
    height: 115px; }
    .wave path {
      fill: white; } }

.nieuwsbrief-1 .right-half p:last-child {
  margin-bottom: 0; }
  .nieuwsbrief-1 .right-half p:last-child img {
    margin-top: 30px;
    display: block; }

@media only screen and (max-width: 800px) {
  .nieuwsbrief-1 .sidebar {
    display: none; }
  .nieuwsbrief-1 .other .list div:nth-child(1) {
    order: 4; }
  .nieuwsbrief-1 .other .list div:nth-child(2) {
    order: 5; }
  .nieuwsbrief-1 .other .list div:nth-child(3) {
    order: 1; }
  .nieuwsbrief-1 .other .list div:nth-child(4) {
    order: 4; }
  .nieuwsbrief-1 .other .list div:nth-child(5) {
    order: 2; }
  .nieuwsbrief-1 #Helpt-u-mee {
    position: relative;
    top: 30px;
    z-index: 6;
    left: 50%;
    transform: translateX(-50%);
    float: left; }
    .nieuwsbrief-1 #Helpt-u-mee a:not(.headerlink) {
      display: block;
      padding: 10px 20px;
      font-variant: small-caps;
      text-decoration: none;
      text-transform: lowercase;
      letter-spacing: 1px;
      color: white;
      background: #D22630;
      border-radius: 30px; } }

@media print {
  .nieuwsbrief-1 .page-break + .page {
    margin-top: 120px; } }

@media print {
  .nieuwsbrief-1 .page #Hoe-het-verder-ging… + .columns .read-more p,
  .nieuwsbrief-1 .page #Hoe-het-begon… + .columns p {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    display: block; }
  .nieuwsbrief-1 .page .left {
    position: relative;
    z-index: 1; }
    .nieuwsbrief-1 .page .left:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      background: #D22630;
      height: 120px;
      left: 0;
      z-index: -1;
      bottom: 0; }
  .nieuwsbrief-1 img[alt="Familie bijbel"] {
    margin-top: 50px;
    object-fit: cover;
    object-position: center;
    display: block;
    height: 305px;
    padding-bottom: 40px;
    margin-left: -60px; }
  .nieuwsbrief-1 .left-half {
    position: relative; }
    .nieuwsbrief-1 .left-half:after {
      position: absolute;
      content: '';
      display: block;
      bottom: 0;
      width: 100%;
      height: 100px;
      background: #f5f5f5;
      z-index: -1; } }
    @media print {
      .nieuwsbrief-1 .left-half:after {
        bottom: -50px; } }

@media only screen and (min-width: 801px) {
  .nieuwsbrief-1 .page #Hoe-het-verder-ging… + .columns .read-more p,
  .nieuwsbrief-1 .page #Hoe-het-begon… + .columns p {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    display: block; }
  .nieuwsbrief-1 .page .left {
    position: relative;
    z-index: 1; }
    .nieuwsbrief-1 .page .left:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      background: #D22630;
      height: 120px;
      left: 0;
      z-index: -1;
      bottom: 0; }
  .nieuwsbrief-1 img[alt="Familie bijbel"] {
    margin-top: 50px;
    object-fit: cover;
    object-position: center;
    display: block;
    height: 305px;
    padding-bottom: 40px;
    margin-left: -60px; }
  .nieuwsbrief-1 .left-half {
    position: relative; }
    .nieuwsbrief-1 .left-half:after {
      position: absolute;
      content: '';
      display: block;
      bottom: 0;
      width: 100%;
      height: 100px;
      background: #f5f5f5;
      z-index: -1; } }

.donate-logos {
  text-align: center;
  left: 0;
  max-width: 100vw; }
  .donate-logos img {
    height: 70px;
    filter: brightness(0) invert(1); }
  .donate-logos img[alt="anbi"], .donate-logos img[alt="cbf"] {
    height: 50px;
    width: auto !important; }
  .donate-logos img[alt="cbf"] {
    margin-right: 40px; }

@media only screen and (max-width: 800px) {
  .nieuwsbrief-2 .sidebar {
    display: none; }
  .nieuwsbrief-2 img[alt="quote2"] {
    display: none; }
  .nieuwsbrief-2 .page p img {
    width: 100vw; }
  .nieuwsbrief-2 .donate-logos {
    position: absolute;
    width: 100%;
    bottom: 20px;
    z-index: 5; }
  .nieuwsbrief-2 img[alt="Fiets support zendeling"] {
    width: 100%;
    height: 240px;
    object-position: center 70%;
    object-fit: cover; }
  .nieuwsbrief-2 img[alt="Checklist"] {
    height: 140px;
    object-fit: cover; }
  .nieuwsbrief-2 img[alt="Backpack"] {
    height: 160px;
    width: 100% !important;
    object-fit: cover;
    object-position: center;
    margin: 0 !important; }
  .nieuwsbrief-2 #Wat-gaan-we-eigenlijk-doen + div.hide-on-desktop {
    border: 20px solid white;
    display: block;
    margin: 0 -20px;
    margin-bottom: -20px;
    padding: 0 20px;
    background: white; }
  .nieuwsbrief-2 img[alt="Infographic"] {
    width: calc(100% + 40px) !important;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1); } }

@media print {
  .nieuwsbrief-2 p img {
    width: 100%; }
  .nieuwsbrief-2 img[alt="quote2"] {
    margin: 24px -40px -45px;
    width: calc(100% + 100px); }
  .nieuwsbrief-2 .page:nth-child(4) .left {
    position: relative; }
    .nieuwsbrief-2 .page:nth-child(4) .left:after {
      content: '';
      display: block;
      width: calc(50% - 10px);
      background: #D22630;
      height: 60px;
      bottom: 0;
      left: 0;
      position: absolute; }
  .nieuwsbrief-2 .donate-logos {
    position: absolute;
    right: 0;
    left: auto;
    color: white;
    z-index: 30;
    padding: 0 20px;
    bottom: 0;
    align-items: flex-end;
    font-weight: bold;
    align-content: flex-end;
    width: calc(40% - 30px);
    font-size: 12px;
    text-align: right; }
  .nieuwsbrief-2 .right-small .introduction {
    flex: 0 0 auto; }
  .nieuwsbrief-2 #Bedankt + .columns {
    color: #D22630; }
  .nieuwsbrief-2 .page > div:first-child {
    margin-top: 20px !important; }
  .nieuwsbrief-2 #Wat-gaan-we-eigenlijk-doen {
    display: none; }
  .nieuwsbrief-2 .columns img {
    border-radius: 30px; }
  .nieuwsbrief-2 img[alt="Infographic"] {
    width: 100%;
    margin-bottom: 0;
    border-bottom: 20px solid #D22630;
    max-height: 50%; }
  .nieuwsbrief-2 img[alt="psalm-199"] {
    margin-bottom: -20px; }
  .nieuwsbrief-2 .page-break + .page > div:first-child {
    margin-top: 0 !important;
    padding: 0 !important; }
    .nieuwsbrief-2 .page-break + .page > div:first-child img {
      display: block; }
    .nieuwsbrief-2 .page-break + .page > div:first-child p {
      margin-bottom: 0; }
  .nieuwsbrief-2 #Wat-gaan-we-eigenlijk-doen {
    margin-top: 20px; } }

@media only screen and (min-width: 801px) {
  .nieuwsbrief-2 p img {
    width: 100%; }
  .nieuwsbrief-2 img[alt="quote2"] {
    margin: 24px -40px -45px;
    width: calc(100% + 100px); }
  .nieuwsbrief-2 .page:nth-child(4) .left {
    position: relative; }
    .nieuwsbrief-2 .page:nth-child(4) .left:after {
      content: '';
      display: block;
      width: calc(50% - 10px);
      background: #D22630;
      height: 60px;
      bottom: 0;
      left: 0;
      position: absolute; }
  .nieuwsbrief-2 .donate-logos {
    position: absolute;
    right: 0;
    left: auto;
    color: white;
    z-index: 30;
    padding: 0 20px;
    bottom: 0;
    align-items: flex-end;
    font-weight: bold;
    align-content: flex-end;
    width: calc(40% - 30px);
    font-size: 12px;
    text-align: right; }
  .nieuwsbrief-2 .right-small .introduction {
    flex: 0 0 auto; }
  .nieuwsbrief-2 #Bedankt + .columns {
    color: #D22630; }
  .nieuwsbrief-2 .page > div:first-child {
    margin-top: 20px !important; }
  .nieuwsbrief-2 #Wat-gaan-we-eigenlijk-doen {
    display: none; }
  .nieuwsbrief-2 .columns img {
    border-radius: 30px; }
  .nieuwsbrief-2 img[alt="Infographic"] {
    width: 100%;
    margin-bottom: 0;
    border-bottom: 20px solid #D22630;
    max-height: 50%; }
  .nieuwsbrief-2 img[alt="psalm-199"] {
    margin-bottom: -20px; }
  .nieuwsbrief-2 .page-break + .page > div:first-child {
    margin-top: 0 !important;
    padding: 0 !important; }
    .nieuwsbrief-2 .page-break + .page > div:first-child img {
      display: block; }
    .nieuwsbrief-2 .page-break + .page > div:first-child p {
      margin-bottom: 0; }
  .nieuwsbrief-2 #Wat-gaan-we-eigenlijk-doen {
    margin-top: 20px; } }
