@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT|Questrial&display=swap");
.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }

html {
  height: 100%;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Old Standard TT', serif; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #ffe6d7; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px; }

img {
  max-width: 100%; }

iframe {
  border: 0; }

.app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: safe center;
  -webkit-justify-content: safe center;
  -ms-flex-pack: safe center;
  justify-content: safe center; }

button {
  font-size: 20px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid white;
  color: white;
  font-weight: 100;
  background-color: transparent;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  text-align: center; }
  button:hover {
    background-color: white;
    color: black; }
  button.not-clickable {
    pointer-events: none; }
  button.is-progressing {
    width: 100%; }
    button.is-progressing:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
      background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
      z-index: 1;
      -webkit-background-size: 50px 50px;
      background-size: 50px 50px;
      -webkit-border-top-right-radius: 8px;
      border-top-right-radius: 8px;
      -webkit-border-bottom-right-radius: 8px;
      border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
      border-top-left-radius: 20px;
      -webkit-border-bottom-left-radius: 20px;
      border-bottom-left-radius: 20px;
      overflow: hidden;
      -webkit-animation: move 2s linear infinite;
      animation: move 2s linear infinite; }

@-webkit-keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }

@keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }

.flower-illustration {
  position: relative; }
  .flower-illustration .flowers {
    display: block;
    opacity: 0;
    -webkit-animation: 3s fadeInFlowers forwards;
    animation: 3s fadeInFlowers forwards; }
  .flower-illustration .shadows,
  .flower-illustration .text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-animation: 2s fadeInText 1s forwards;
    animation: 2s fadeInText 1s forwards; }
  .flower-illustration .text {
    z-index: 2; }
    .flower-illustration .text path {
      fill: white; }
  .flower-illustration .shadows {
    z-index: -1;
    -webkit-filter: blur(3px);
    filter: blur(3px); }

@-webkit-keyframes fadeInFlowers {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%); }
  65% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@keyframes fadeInFlowers {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%); }
  65% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@-webkit-keyframes fadeInText {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInText {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

form {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 -webkit-calc(100%);
  -ms-flex: 1 1 calc(100%);
  flex: 1 1 calc(100%);
  width: -webkit-calc(100%);
  width: calc(100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }
  form.hidden {
    padding: 0;
    margin: 0;
    opacity: 0; }

textarea,
input[type="number"],
input[type="text"],
input[type="email"] {
  padding: 15px;
  margin-bottom: 25px;
  border: 1px solid transparent;
  background-color: white;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  -webkit-box-shadow: none;
  box-shadow: none; }
  textarea:focus,
  input[type="number"]:focus,
  input[type="text"]:focus,
  input[type="email"]:focus {
    border: 1px solid white;
    -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.17);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.17); }

input[type="checkbox"],
input[type="radio"] {
  display: none; }

.form-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0.1, 0.29, 0.98);
  -o-transition: all 0.3s cubic-bezier(0.2, 0.1, 0.29, 0.98);
  transition: all 0.3s cubic-bezier(0.2, 0.1, 0.29, 0.98);
  max-height: 160px;
  margin: 0 20px;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .form-item:first-child {
    margin-top: 20px; }
  .form-item.hidden {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    -webkit-transform: translate(-40px, -5px);
    -ms-transform: translate(-40px, -5px);
    transform: translate(-40px, -5px); }

.field-label {
  margin-bottom: 10px;
  padding: 3px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 600;
  margin-left: -2px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.form-item-radios {
  margin-bottom: 30px; }
  .form-item-radios .form-item-radio {
    margin: 0; }

.link svg {
  width: 32px; }

.menu-toggle {
  position: fixed;
  right: 40px;
  top: 40px;
  cursor: pointer;
  z-index: 11;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 0.6s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s;
  -o-transition: all 0.6s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s;
  transition: all 0.6s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s; }
  .menu-toggle .dot {
    opacity: 1;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #3c1e0a;
    -webkit-transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s;
    -o-transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s;
    transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s;
    position: absolute;
    -webkit-transform-origin: 2px;
    -ms-transform-origin: 2px;
    transform-origin: 2px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    .menu-toggle .dot:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu-toggle .dot:nth-child(3) {
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg); }
    .menu-toggle .dot:nth-child(7) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .menu-toggle .dot:nth-child(9) {
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg); }
    .menu-toggle .dot:nth-child(1) {
      left: 0px;
      top: 0px; }
    .menu-toggle .dot:nth-child(4) {
      left: 0px;
      top: 14px; }
    .menu-toggle .dot:nth-child(7) {
      left: 0px;
      top: 28px; }
    .menu-toggle .dot:nth-child(2) {
      left: 14px;
      top: 0px; }
    .menu-toggle .dot:nth-child(5) {
      left: 14px;
      top: 14px; }
    .menu-toggle .dot:nth-child(8) {
      left: 14px;
      top: 28px; }
    .menu-toggle .dot:nth-child(3) {
      left: 28px;
      top: 0px; }
    .menu-toggle .dot:nth-child(6) {
      left: 28px;
      top: 14px; }
    .menu-toggle .dot:nth-child(9) {
      left: 28px;
      top: 28px; }
  .menu-toggle:hover .dot {
    background-color: #3c1e0a; }

.has-menu-expanded .menu-toggle {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.6s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0.2s;
  -o-transition: all 0.6s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0.2s;
  transition: all 0.6s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0.2s; }
  .has-menu-expanded .menu-toggle .dot {
    background-color: white;
    -webkit-transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0.1s;
    -o-transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0.1s;
    transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0.1s; }
    .has-menu-expanded .menu-toggle .dot:nth-child(1), .has-menu-expanded .menu-toggle .dot:nth-child(3), .has-menu-expanded .menu-toggle .dot:nth-child(7), .has-menu-expanded .menu-toggle .dot:nth-child(9) {
      width: 24px;
      height: 1.33333px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
    .has-menu-expanded .menu-toggle .dot:nth-child(2), .has-menu-expanded .menu-toggle .dot:nth-child(4), .has-menu-expanded .menu-toggle .dot:nth-child(5), .has-menu-expanded .menu-toggle .dot:nth-child(6), .has-menu-expanded .menu-toggle .dot:nth-child(8) {
      opacity: 0;
      -webkit-transform: scale(0.2);
      -ms-transform: scale(0.2);
      transform: scale(0.2); }

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #3c1e0a;
  -webkit-transition: all .4s ease-in-out 0s;
  -o-transition: all .4s ease-in-out 0s;
  transition: all .4s ease-in-out 0s;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }
  .menu .page-title {
    color: white;
    border-color: white; }
  .menu .inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .menu .menu-wrapper {
    max-width: 920px;
    padding: 40px;
    margin: auto;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .menu .menu-link {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 22px;
    font-weight: 100;
    margin: 5px auto 5px -20px;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
    .menu .menu-link:after {
      display: block;
      width: 0;
      height: 100%;
      -webkit-transition: width 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21), -webkit-transform 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21);
      transition: width 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21), -webkit-transform 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21);
      -o-transition: width 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21), transform 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21);
      transition: width 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21), transform 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21);
      transition: width 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21), transform 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21), -webkit-transform 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21);
      position: absolute;
      background-color: white;
      opacity: .1;
      content: '';
      top: 0;
      left: 0;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
    .menu .menu-link.active {
      color: white; }
    .menu .menu-link:hover {
      color: white;
      -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
      transform: translateX(-5px); }
      .menu .menu-link:hover:after {
        width: 100%;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: width 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21), -webkit-transform 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21);
        transition: width 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21), -webkit-transform 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21);
        -o-transition: width 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21), transform 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21);
        transition: width 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21), transform 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21);
        transition: width 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21), transform 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21), -webkit-transform 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21); }
  .menu .separator {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 22px;
    font-weight: 100;
    margin: 5px auto 5px -20px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 6px;
    position: relative;
    display: inline-block;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

.has-menu-expanded .menu {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .4s ease-in-out .4s;
  -o-transition: all .4s ease-in-out .4s;
  transition: all .4s ease-in-out .4s; }

.page-title {
  font-size: 40px;
  line-height: 50px;
  color: #3c1e0a;
  width: 100%;
  max-width: 920px;
  margin: 100px auto 50px;
  -webkit-transition: all 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21);
  -o-transition: all 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21);
  transition: all 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21);
  border-bottom: 1px dashed #3c1e0a; }
  .page-title > .small {
    font-size: 22px;
    font-weight: 100;
    font-family: 'Arapey', serif;
    font-style: italic; }

.radio-label {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  position: relative;
  cursor: pointer; }
  .radio-label:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    background-color: white;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
    top: -3px;
    float: left;
    left: -3px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 13px; }
  .radio-label:after {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    content: '';
    display: inline-block;
    width: 14.4px;
    height: 14.4px;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: absolute;
    top: 2px;
    left: 2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 15px;
    opacity: 0; }
  input:checked + .radio-label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.route-view {
  margin: 0 auto;
  max-width: 920px;
  width: 100%;
  padding: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.strip {
  border: 1px solid #3c1e0a;
  padding: 20px;
  margin-bottom: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #3c1e0a;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  background-color: #ffece1;
  position: relative;
  -webkit-box-shadow: inset 0 0 0 1px #ffe6d7;
  box-shadow: inset 0 0 0 1px #ffe6d7;
  -webkit-transition: background-color .4s ease-in-out;
  -o-transition: background-color .4s ease-in-out;
  transition: background-color .4s ease-in-out; }
  .strip .time {
    font-size: 38px;
    font-weight: 900;
    font-family: 'Chonburi', cursive;
    padding-right: 20px;
    margin-right: 20px;
    position: relative;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 140px;
    -ms-flex: 0 0 140px;
    flex: 0 0 140px;
    border-right: 1px dashed #3c1e0a; }
  .strip svg {
    position: absolute;
    height: 180px;
    bottom: -50px;
    fill: #3c1e0a; }
  .strip:nth-child(3n+1) svg {
    right: 140px; }
  .strip:nth-child(3n+2) svg {
    right: 100px; }
  .strip:nth-child(3n+3) svg {
    right: 0; }
  .strip .title {
    margin: 0; }
  .strip .description {
    padding-bottom: 0;
    max-height: 0;
    opacity: 0;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    margin: 0;
    -webkit-transition: opacity .4s ease-in-out .1s, max-height .4s ease-in-out .2s, padding .4s ease-in-out .2s, margin .4s ease-in-out .2s, -webkit-transform .4s ease-in-out .4s;
    transition: opacity .4s ease-in-out .1s, max-height .4s ease-in-out .2s, padding .4s ease-in-out .2s, margin .4s ease-in-out .2s, -webkit-transform .4s ease-in-out .4s;
    -o-transition: opacity .4s ease-in-out .1s, transform .4s ease-in-out .4s, max-height .4s ease-in-out .2s, padding .4s ease-in-out .2s, margin .4s ease-in-out .2s;
    transition: opacity .4s ease-in-out .1s, transform .4s ease-in-out .4s, max-height .4s ease-in-out .2s, padding .4s ease-in-out .2s, margin .4s ease-in-out .2s;
    transition: opacity .4s ease-in-out .1s, transform .4s ease-in-out .4s, max-height .4s ease-in-out .2s, padding .4s ease-in-out .2s, margin .4s ease-in-out .2s, -webkit-transform .4s ease-in-out .4s;
    overflow: hidden; }
  .strip .link {
    color: #3c1e0a;
    text-decoration: none;
    position: relative; }
    .strip .link:after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      background-color: #3c1e0a;
      width: 100%; }
  .strip:hover {
    background-color: white; }
  .strip.is-now {
    background-color: white; }
  .strip.expandable:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #3c1e0a;
    position: absolute;
    bottom: 50%;
    right: 0;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    -webkit-box-shadow: 0 0 0 3px #ffe6d7;
    box-shadow: 0 0 0 3px #ffe6d7;
    background-color: inherit; }
  .strip.expandable:after {
    content: '+';
    position: absolute;
    line-height: 0;
    bottom: 50%;
    color: #3c1e0a;
    right: 0;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    -o-transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
    -webkit-transform: translate(50%, -webkit-calc(50% - 1.5px)) rotate(0);
    -ms-transform: translate(50%, calc(50% - 1.5px)) rotate(0);
    transform: translate(50%, calc(50% - 1.5px)) rotate(0); }
  .strip.active {
    background-color: white; }
    .strip.active .description {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      padding-bottom: 90px;
      max-height: 240px;
      opacity: 1;
      -webkit-transition: opacity .4s ease-in-out .2s, max-height .4s ease-in-out .2s, padding .4s ease-in-out .2s, margin .4s ease-in-out .2s, -webkit-transform .4s ease-in-out .1s;
      transition: opacity .4s ease-in-out .2s, max-height .4s ease-in-out .2s, padding .4s ease-in-out .2s, margin .4s ease-in-out .2s, -webkit-transform .4s ease-in-out .1s;
      -o-transition: opacity .4s ease-in-out .2s, transform .4s ease-in-out .1s, max-height .4s ease-in-out .2s, padding .4s ease-in-out .2s, margin .4s ease-in-out .2s;
      transition: opacity .4s ease-in-out .2s, transform .4s ease-in-out .1s, max-height .4s ease-in-out .2s, padding .4s ease-in-out .2s, margin .4s ease-in-out .2s;
      transition: opacity .4s ease-in-out .2s, transform .4s ease-in-out .1s, max-height .4s ease-in-out .2s, padding .4s ease-in-out .2s, margin .4s ease-in-out .2s, -webkit-transform .4s ease-in-out .1s; }
    .strip.active.expandable:after {
      -webkit-transform: translate(-webkit-calc(50% + 1px), -webkit-calc(50% - 1px)) rotate(45deg);
      -ms-transform: translate(calc(50% + 1px), calc(50% - 1px)) rotate(45deg);
      transform: translate(calc(50% + 1px), calc(50% - 1px)) rotate(45deg); }

iframe.svg {
  display: none; }

dw-camera {
  min-height: 100%;
  max-width: 100% !important;
  margin: 0 !important; }
  dw-camera .view, dw-camera .sensor, dw-camera .output {
    position: fixed;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    left: 0;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    opacity: 1; }
  dw-camera form {
    pointer-events: none;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 40px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    max-width: 920px; }
    dw-camera form .form-item-submit button {
      margin-bottom: 0; }
    dw-camera form .form-item {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      max-width: 100%; }
    dw-camera form .field-label {
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background: #ffe6d7; }
  dw-camera .trigger {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: red;
    border: 5px solid white;
    left: 50%;
    margin: 0;
    bottom: 30px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 30;
    position: absolute;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-box-shadow: inset 0 5px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 5px 3px rgba(0, 0, 0, 0.3); }
    dw-camera .trigger:before, dw-camera .trigger:after {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 30px;
      height: 2px;
      background-color: black;
      content: '';
      display: block;
      opacity: 0;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
    dw-camera .trigger:before {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg); }
    dw-camera .trigger:after {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg); }
  dw-camera .save {
    position: absolute;
    right: 0;
    bottom: 25px;
    margin: 0;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    border: 0;
    padding: 15px;
    fill: white;
    background-color: #437229;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
    @media only screen and (min-width: 600px) {
      dw-camera .save {
        right: -webkit-calc(50% - 300px);
        right: calc(50% - 300px);
        -webkit-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
        bottom: 0;
        padding-bottom: 30px; } }
    dw-camera .save svg {
      width: 55px; }
  dw-camera[data-status="filming"] .output {
    opacity: 0; }
  dw-camera[data-status="filming"] .trigger {
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
  dw-camera[data-status="filming"] .sensor {
    -webkit-transition: .3s ease-in-out .6s;
    -o-transition: .3s ease-in-out .6s;
    transition: .3s ease-in-out .6s; }
  dw-camera[data-status="filming"] .save {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
  dw-camera[data-status="filming"] .view {
    -webkit-transition: .3s ease-in-out .3s;
    -o-transition: .3s ease-in-out .3s;
    transition: .3s ease-in-out .3s; }
  dw-camera[data-status="uploading"] .trigger, dw-camera[data-status="pre-save"] .trigger, dw-camera[data-status="photo-taken"] .trigger {
    background-color: white;
    -webkit-box-shadow: inset 0 5px 3px rgba(0, 0, 0, 0);
    box-shadow: inset 0 5px 3px rgba(0, 0, 0, 0); }
    dw-camera[data-status="uploading"] .trigger:before, dw-camera[data-status="uploading"] .trigger:after, dw-camera[data-status="pre-save"] .trigger:before, dw-camera[data-status="pre-save"] .trigger:after, dw-camera[data-status="photo-taken"] .trigger:before, dw-camera[data-status="photo-taken"] .trigger:after {
      opacity: 1; }
  dw-camera[data-status="uploading"] .save, dw-camera[data-status="pre-save"] .save {
    opacity: 0;
    pointer-events: none; }
  dw-camera[data-status="uploading"] .view,
  dw-camera[data-status="uploading"] .sensor, dw-camera[data-status="pre-save"] .view,
  dw-camera[data-status="pre-save"] .sensor {
    opacity: 0;
    pointer-events: none; }
  dw-camera[data-status="uploading"] .trigger, dw-camera[data-status="pre-save"] .trigger {
    border-width: 1px;
    background-color: transparent;
    -webkit-transform: translateX(0) translateX(-webkit-calc(50vw - 100% - 15px));
    -ms-transform: translateX(0) translateX(calc(50vw - 100% - 15px));
    transform: translateX(0) translateX(calc(50vw - 100% - 15px)); }
    @media only screen and (min-width: 600px) {
      dw-camera[data-status="uploading"] .trigger, dw-camera[data-status="pre-save"] .trigger {
        -webkit-transform: translateX(0) translateX(-webkit-calc(460px - 100% - 10px));
        -ms-transform: translateX(0) translateX(calc(460px - 100% - 10px));
        transform: translateX(0) translateX(calc(460px - 100% - 10px)); } }
    dw-camera[data-status="uploading"] .trigger:before, dw-camera[data-status="uploading"] .trigger:after, dw-camera[data-status="pre-save"] .trigger:before, dw-camera[data-status="pre-save"] .trigger:after {
      background-color: white; }
    dw-camera[data-status="uploading"] .trigger:hover, dw-camera[data-status="pre-save"] .trigger:hover {
      background-color: white; }
      dw-camera[data-status="uploading"] .trigger:hover:before, dw-camera[data-status="uploading"] .trigger:hover:after, dw-camera[data-status="pre-save"] .trigger:hover:before, dw-camera[data-status="pre-save"] .trigger:hover:after {
        background-color: black; }
  dw-camera[data-status="uploading"] .trigger, dw-camera[data-status="pre-save"] .trigger {
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  dw-camera[data-status="uploading"] .output, dw-camera[data-status="pre-save"] .output {
    border: 10px solid white;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-transform: scaleX(-1) scale(0.5) translateY(-52%) rotate(9deg);
    -ms-transform: scaleX(-1) scale(0.5) translateY(-52%) rotate(9deg);
    transform: scaleX(-1) scale(0.5) translateY(-52%) rotate(9deg);
    -webkit-transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21);
    -o-transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21);
    transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21); }
  dw-camera[data-status="uploading"] form, dw-camera[data-status="pre-save"] form {
    opacity: 1;
    pointer-events: all;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  dw-camera[data-status="uploading"] .form .form-item-textarea,
  dw-camera[data-status="uploading"] .trigger {
    opacity: 0; }
  dw-camera[data-status="uploading"] form {
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
  dw-camera[data-status="uploading"] .trigger {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }
  dw-camera[data-status="uploading"] .output {
    -webkit-transform: scaleX(-1) scale(0.7) translateY(-20%) rotate(9deg);
    -ms-transform: scaleX(-1) scale(0.7) translateY(-20%) rotate(9deg);
    transform: scaleX(-1) scale(0.7) translateY(-20%) rotate(9deg);
    -webkit-transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21);
    -o-transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21);
    transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21); }
  dw-camera[data-status="uploaded"] .view,
  dw-camera[data-status="uploaded"] .sensor {
    opacity: 0;
    pointer-events: none; }
  dw-camera[data-status="uploaded"] .output {
    -webkit-transform: scaleX(-1) scale(0.8) translate(-130%, -200px) rotate(0deg);
    -ms-transform: scaleX(-1) scale(0.8) translate(-130%, -200px) rotate(0deg);
    transform: scaleX(-1) scale(0.8) translate(-130%, -200px) rotate(0deg);
    -webkit-transition: all 1.4s cubic-bezier(0.85, -0.24, 0.33, 1.21);
    -o-transition: all 1.4s cubic-bezier(0.85, -0.24, 0.33, 1.21);
    transition: all 1.4s cubic-bezier(0.85, -0.24, 0.33, 1.21); }
  dw-camera[data-status="uploaded"] .save,
  dw-camera[data-status="uploaded"] form,
  dw-camera[data-status="uploaded"] .trigger {
    opacity: 0; }

dw-locations {
  position: relative; }
  dw-locations .mapboxgl-ctrl-logo {
    display: none !important; }
  dw-locations .map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: .3; }

dw-photos {
  overflow-x: hidden;
  max-width: 100% !important; }
  dw-photos > .inner {
    line-height: 0;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    width: 100%;
    max-width: 100%;
    padding-bottom: 100px; }

.photo-wrapper {
  width: 100% !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  height: auto !important;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  position: relative;
  z-index: 1;
  -webkit-transition: z-index 0s ease-in-out 1s, opacity 0.4s ease-in-out 0s, -webkit-transform 0.7s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s;
  transition: z-index 0s ease-in-out 1s, opacity 0.4s ease-in-out 0s, -webkit-transform 0.7s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s;
  -o-transition: transform 0.7s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s, z-index 0s ease-in-out 1s, opacity 0.4s ease-in-out 0s;
  transition: transform 0.7s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s, z-index 0s ease-in-out 1s, opacity 0.4s ease-in-out 0s;
  transition: transform 0.7s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s, z-index 0s ease-in-out 1s, opacity 0.4s ease-in-out 0s, -webkit-transform 0.7s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s;
  -webkit-transform: scale(0.73) rotate(-4deg);
  -ms-transform: scale(0.73) rotate(-4deg);
  transform: scale(0.73) rotate(-4deg);
  opacity: 0; }
  .photo-wrapper.loaded {
    opacity: 1; }
  .photo-wrapper > .inner {
    border: 10px solid white;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    background-color: white;
    position: relative;
    -webkit-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  .photo-wrapper .guest-message {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #3c1e0a;
    line-height: 1.5;
    font-style: italic;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .photo-wrapper img {
    max-width: 100%;
    height: 100%; }
  .photo-wrapper:nth-child(2n+1) {
    -webkit-transform: scale(0.71) rotate(5deg);
    -ms-transform: scale(0.71) rotate(5deg);
    transform: scale(0.71) rotate(5deg); }
  .photo-wrapper:nth-child(3n+1) {
    -webkit-transform: scale(0.65) rotate(8deg);
    -ms-transform: scale(0.65) rotate(8deg);
    transform: scale(0.65) rotate(8deg); }
  .photo-wrapper:nth-child(7n+1) {
    -webkit-transform: scale(0.75) rotate(-3deg);
    -ms-transform: scale(0.75) rotate(-3deg);
    transform: scale(0.75) rotate(-3deg); }
  .photo-wrapper:nth-child(9n+1) {
    -webkit-transform: scale(0.6) rotate(-2deg);
    -ms-transform: scale(0.6) rotate(-2deg);
    transform: scale(0.6) rotate(-2deg); }
  .photo-wrapper.selected {
    z-index: 4;
    -webkit-transition: z-index 0s ease-in-out 0s, opacity 0.4s ease-in-out 0s, -webkit-transform 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s;
    transition: z-index 0s ease-in-out 0s, opacity 0.4s ease-in-out 0s, -webkit-transform 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s;
    -o-transition: transform 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s, z-index 0s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
    transition: transform 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s, z-index 0s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
    transition: transform 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s, z-index 0s ease-in-out 0s, opacity 0.4s ease-in-out 0s, -webkit-transform 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s;
    -webkit-transform: scale(2) rotate(0deg);
    -ms-transform: scale(2) rotate(0deg);
    transform: scale(2) rotate(0deg); }

dw-photos:not(.has-active) .photo-wrapper:hover {
  -webkit-transform: scale(0.78) rotate(-5deg);
  -ms-transform: scale(0.78) rotate(-5deg);
  transform: scale(0.78) rotate(-5deg); }

dw-photos:not(.has-active) .photo-wrapper:nth-child(2n+1):hover {
  -webkit-transform: scale(0.76) rotate(4deg);
  -ms-transform: scale(0.76) rotate(4deg);
  transform: scale(0.76) rotate(4deg); }

dw-photos:not(.has-active) .photo-wrapper:nth-child(3n+1):hover {
  -webkit-transform: scale(0.7) rotate(9deg);
  -ms-transform: scale(0.7) rotate(9deg);
  transform: scale(0.7) rotate(9deg); }

dw-photos:not(.has-active) .photo-wrapper:nth-child(7n+1):hover {
  -webkit-transform: scale(0.8) rotate(-4deg);
  -ms-transform: scale(0.8) rotate(-4deg);
  transform: scale(0.8) rotate(-4deg); }

dw-photos:not(.has-active) .photo-wrapper:nth-child(9n+1):hover {
  -webkit-transform: scale(0.7) rotate(-3deg);
  -ms-transform: scale(0.7) rotate(-3deg);
  transform: scale(0.7) rotate(-3deg); }

dw-photos.has-active .page-title {
  opacity: 0; }

dw-photos.has-active .photo-wrapper:not(.selected) {
  pointer-events: none; }
  dw-photos.has-active .photo-wrapper:not(.selected) .inner {
    opacity: 0;
    -webkit-transform: translate(40vw, -70vh);
    -ms-transform: translate(40vw, -70vh);
    transform: translate(40vw, -70vh); }
  dw-photos.has-active .photo-wrapper:not(.selected):nth-child(2n+1) .inner {
    -webkit-transform: translate(-60vw, -40vh);
    -ms-transform: translate(-60vw, -40vh);
    transform: translate(-60vw, -40vh); }
  dw-photos.has-active .photo-wrapper:not(.selected):nth-child(3n+1) .inner {
    -webkit-transform: translate(60vw, -80vh);
    -ms-transform: translate(60vw, -80vh);
    transform: translate(60vw, -80vh); }
  dw-photos.has-active .photo-wrapper:not(.selected):nth-child(7n+1) .inner {
    -webkit-transform: translate(80vw, 60vh);
    -ms-transform: translate(80vw, 60vh);
    transform: translate(80vw, 60vh); }
  dw-photos.has-active .photo-wrapper:not(.selected):nth-child(9n+1) .inner {
    -webkit-transform: translate(-60vw, -40vh);
    -ms-transform: translate(-60vw, -40vh);
    transform: translate(-60vw, -40vh); }

@media (min-width: 700px) {
  dw-photos .inner {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }

@media (min-width: 1100px) {
  dw-photos .inner {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; } }

@media (min-width: 1400px) {
  dw-photos .inner {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4; } }

@media (min-width: 1700px) {
  dw-photos .inner {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5; } }

dw-profile .form-item-VOORNAAM,
dw-profile .form-item-ACHTERNAAM {
  min-width: 170px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 -webkit-calc(50% - 40px);
  -ms-flex: 1 1 calc(50% - 40px);
  flex: 1 1 calc(50% - 40px); }

dw-profile .form-item-PERSONEN,
dw-profile .form-item-ADRES-addr1,
dw-profile .form-item-ADRES-zip,
dw-profile .form-item-ADRES-city {
  min-width: 170px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 -webkit-calc(30% - 40px);
  -ms-flex: 1 1 calc(30% - 40px);
  flex: 1 1 calc(30% - 40px); }
