@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html {
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

body {
  background-color: #ff886a;
  padding: 0;
  margin: 0;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }

json-form {
  display: block;
  padding: 20px 20px 25px;
  background-color: white;
  --font-family: 'Roboto', sans-serif;
  --color-active: #2c5eac;
  --color-active--054: #152c51;
  --color-inactive: #8a8a8a;
  --color-invalid: #c72227;
  --form-background: #fff;
  line-height: 12px; }

.app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

button {
  font-size: 20px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid white;
  color: white;
  font-weight: 100;
  background-color: transparent;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  text-align: center; }
  button:hover {
    background-color: white;
    color: black; }
  button.not-clickable {
    pointer-events: none; }
  button.is-progressing {
    width: 100%; }
    button.is-progressing:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
      background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
      z-index: 1;
      -webkit-background-size: 50px 50px;
      background-size: 50px 50px;
      -webkit-animation: move 2s linear infinite;
      animation: move 2s linear infinite;
      -webkit-border-top-right-radius: 8px;
      border-top-right-radius: 8px;
      -webkit-border-bottom-right-radius: 8px;
      border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
      border-top-left-radius: 20px;
      -webkit-border-bottom-left-radius: 20px;
      border-bottom-left-radius: 20px;
      overflow: hidden;
      animation: move 2s linear infinite; }

.form.profile .form-item-VOORNAAM,
.form.profile .form-item-ACHTERNAAM {
  min-width: 170px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 -webkit-calc(50% - 40px);
  -ms-flex: 1 1 calc(50% - 40px);
  flex: 1 1 calc(50% - 40px); }

.form.profile .form-item-PERSONEN,
.form.profile .form-item-ADRES-addr1,
.form.profile .form-item-ADRES-zip,
.form.profile .form-item-ADRES-city {
  min-width: 170px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 -webkit-calc(30% - 40px);
  -ms-flex: 1 1 calc(30% - 40px);
  flex: 1 1 calc(30% - 40px); }

form {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.field-label {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  margin-left: 2px;
  letter-spacing: 3px;
  text-transform: uppercase; }

input[type="number"],
input[type="text"],
input[type="email"] {
  padding: 15px;
  margin-bottom: 35px;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  -webkit-box-shadow: none;
  box-shadow: none; }
  input[type="number"]:focus,
  input[type="text"]:focus,
  input[type="email"]:focus {
    border: 1px solid white;
    -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.17);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.17); }

input[type="checkbox"],
input[type="radio"] {
  display: none; }

.form {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 30px; }
  .form.hidden {
    padding: 0;
    margin: 0;
    opacity: 0; }

.form-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0.1, 0.29, 0.98);
  -o-transition: all 0.3s cubic-bezier(0.2, 0.1, 0.29, 0.98);
  transition: all 0.3s cubic-bezier(0.2, 0.1, 0.29, 0.98);
  max-height: 160px;
  margin: 0 20px;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .form-item:first-child {
    margin-top: 20px; }
  .form-item.hidden {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    -webkit-transform: translate(-40px, -5px);
    -ms-transform: translate(-40px, -5px);
    transform: translate(-40px, -5px); }

.form-item-radios {
  margin-bottom: 30px; }
  .form-item-radios .form-item-radio {
    margin: 0; }

@-webkit-keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }

@keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }

.menu-toggle {
  position: fixed;
  right: 40px;
  top: 40px;
  cursor: pointer;
  z-index: 11;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 0.6s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s;
  -o-transition: all 0.6s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s;
  transition: all 0.6s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s; }
  .menu-toggle .dot {
    opacity: 1;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #af561c;
    -webkit-transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s;
    -o-transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s;
    transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0s;
    position: absolute;
    -webkit-transform-origin: 2px;
    -ms-transform-origin: 2px;
    transform-origin: 2px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    .menu-toggle .dot:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu-toggle .dot:nth-child(3) {
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg); }
    .menu-toggle .dot:nth-child(7) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .menu-toggle .dot:nth-child(9) {
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg); }
    .menu-toggle .dot:nth-child(1) {
      left: 0px;
      top: 0px; }
    .menu-toggle .dot:nth-child(4) {
      left: 0px;
      top: 14px; }
    .menu-toggle .dot:nth-child(7) {
      left: 0px;
      top: 28px; }
    .menu-toggle .dot:nth-child(2) {
      left: 14px;
      top: 0px; }
    .menu-toggle .dot:nth-child(5) {
      left: 14px;
      top: 14px; }
    .menu-toggle .dot:nth-child(8) {
      left: 14px;
      top: 28px; }
    .menu-toggle .dot:nth-child(3) {
      left: 28px;
      top: 0px; }
    .menu-toggle .dot:nth-child(6) {
      left: 28px;
      top: 14px; }
    .menu-toggle .dot:nth-child(9) {
      left: 28px;
      top: 28px; }
  .menu-toggle:hover .dot {
    background-color: #572b0e; }

.has-menu-expanded .menu-toggle {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.6s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0.2s;
  -o-transition: all 0.6s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0.2s;
  transition: all 0.6s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0.2s; }
  .has-menu-expanded .menu-toggle .dot {
    background-color: white;
    -webkit-transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0.1s;
    -o-transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0.1s;
    transition: all 0.4s cubic-bezier(0.85, -0.24, 0.33, 1.21) 0.1s; }
    .has-menu-expanded .menu-toggle .dot:nth-child(1), .has-menu-expanded .menu-toggle .dot:nth-child(3), .has-menu-expanded .menu-toggle .dot:nth-child(7), .has-menu-expanded .menu-toggle .dot:nth-child(9) {
      width: 24px;
      height: 1.33333px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
    .has-menu-expanded .menu-toggle .dot:nth-child(2), .has-menu-expanded .menu-toggle .dot:nth-child(4), .has-menu-expanded .menu-toggle .dot:nth-child(5), .has-menu-expanded .menu-toggle .dot:nth-child(6), .has-menu-expanded .menu-toggle .dot:nth-child(8) {
      opacity: 0;
      -webkit-transform: scale(0.2);
      -ms-transform: scale(0.2);
      transform: scale(0.2); }

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #572b0e;
  -webkit-transition: all .4s ease-in-out 0s;
  -o-transition: all .4s ease-in-out 0s;
  transition: all .4s ease-in-out 0s;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }
  .menu .inner {
    max-width: 620px;
    margin: auto;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.has-menu-expanded .menu {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .4s ease-in-out .4s;
  -o-transition: all .4s ease-in-out .4s;
  transition: all .4s ease-in-out .4s; }

.menu-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 22px;
  font-weight: 100;
  margin: 20px auto 20px -20px;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 6px;
  position: relative;
  display: inline-block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }
  .menu-link:after {
    display: block;
    width: 0;
    height: 100%;
    -webkit-transition: width 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21), -webkit-transform 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21);
    transition: width 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21), -webkit-transform 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21);
    -o-transition: width 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21), transform 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21);
    transition: width 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21), transform 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21);
    transition: width 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21), transform 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21), -webkit-transform 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21);
    position: absolute;
    background-color: white;
    opacity: .1;
    content: '';
    top: 0;
    left: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .menu-link:hover {
    color: white;
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px); }
    .menu-link:hover:after {
      width: 100%;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: width 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21), -webkit-transform 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21);
      transition: width 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21), -webkit-transform 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21);
      -o-transition: width 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21), transform 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21);
      transition: width 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21), transform 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21);
      transition: width 0.3s cubic-bezier(0.85, -0.24, 0.33, 1.21), transform 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21), -webkit-transform 0.5s cubic-bezier(0.85, -0.24, 0.33, 1.21); }

.message {
  padding: 15px;
  border: 1px solid white; }

.radio-label {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  position: relative;
  cursor: pointer; }
  .radio-label:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
    top: -3px;
    float: left;
    left: -3px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 13px; }
  .radio-label:after {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    content: '';
    display: inline-block;
    width: 14.4px;
    height: 14.4px;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: absolute;
    top: 2px;
    left: 2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 15px;
    opacity: 0; }
  input:checked + .radio-label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

dw-form {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

dw-home {
  max-width: 700px;
  margin: auto;
  width: 100%;
  padding: 0 20px; }

dw-login {
  max-width: 400px;
  margin: auto; }

dw-menu {
  max-width: 620px;
  margin: auto;
  width: 100%;
  display: block;
  position: relative; }

dw-profile {
  max-width: 700px;
  margin: auto;
  width: 100%;
  padding: 0 20px; }
