.camera, .view, .sensor, .output {
  position: fixed;
  height: 101%;
  width: 101%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.view, .sensor, .output {
  transform: scaleX(-1);
  filter: FlipH;
}

.actions {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}