.flower-illustration {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  width: 100%;
  z-index: 2;

  .text {
    position: relative;
    z-index: 4;
  }

  .text-shadow {
    z-index: -2;
  }

  .flowers {
    display: block;
    opacity: 0;
    animation: 3s fadeInFlowers forwards;
    z-index: 3;
  }

  .flowers-shadow {
    position: relative;
    z-index: -1;
  }

  .flowers-shadow,
  .text-shadow,
  .text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: 2s fadeInText 1s forwards;
  }
}

@keyframes fadeInFlowers {
  0% { opacity: 0; transform: translateY(-4%); }
  20% { opacity: 0; transform: translateY(-4%); }
  65% { opacity: 1; transform: translateY(0%); }
  100% { opacity: 1; transform: translateY(0%); }
}

@keyframes fadeInText {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}