form {
  padding: 20px;
}

textarea,
input[type="number"],
input[type="text"],
input[type="email"] {
  padding: 15px 20px 13px;
  border: 1px solid transparent;
  background-color: lighten($color-primary, 20);
  transition: all .3s ease-in-out;
  border-radius: 3px;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  box-shadow: none;
  font-family: 'Old Standard TT', serif;
  line-height: 16px;

  &:focus {
    border: 1px solid white;
    box-shadow: 0 2px 15px rgba(black, .17);
  }

  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Old Standard TT', serif;
    opacity: 1;
    color: $color-secondary;
    line-height: 16px;
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.form-item {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  transition: all .5s cubic-bezier(.2,.1,.29,.98);
  justify-content: flex-end;
  text-align: left;
  max-height: 160px;


  > *:last-child {
    margin-bottom: 15px;
  }

  &.hidden {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translate(-40px, -5px);
  }
}

.field-label {
  margin-bottom: 5px;
  padding: 3px;
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
  hyphens: auto;
  font-size: 12px;
}

.form-item-radios {
  display: flex;
  flex-direction: row;
}

.form-hint {
  margin-top: 5px;
  color: $color-secondary;
  font-style: italic;
}

@media only screen and (min-width: 540px) {
  .form-row {
    display: flex;

    .form-item + .form-item {
      margin-left: 20px;
    }
  }
}

.radio-label {
  $radio-width: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 35px;
  color: rgba(black, .8);
  font-size: 18px;
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    display: inline-block;
    width: $radio-width;
    height: $radio-width;
    border: 1px solid transparent;
    background-color: lighten($color-primary, 20);
    transition: all .3s ease-in-out;
    position: relative;
    top: -3px;
    float: left;
    left: -3px;
    border-radius: 50%;
    margin-right: 13px;
  }

  &:after {
    transform: scale(1.2);
    content: '';
    display: inline-block;
    width: $radio-width * .6;
    height: $radio-width * .6;
    border: 1px solid transparent;
    background-color: rgba(black, .7);
    transition: all .3s ease-in-out;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    margin-right: 15px;
    opacity: 0;
  }

  input:checked + &:after {
    opacity: 1;
    transform: scale(1);
  }
}