form {
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.field-label {
  margin-bottom: 10px;
  padding: 3px;
  color: rgba(black, .5);
  font-size: 14px;
  margin-left: -2px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

textarea,
input[type="number"],
input[type="text"],
input[type="email"] {
  padding: 15px;
  margin-bottom: 25px;
  border: 1px solid transparent;
  background-color: lighten($color-primary, 20);
  transition: all .3s ease-in-out;
  border-radius: 3px;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  box-shadow: none;

  &:focus {
    border: 1px solid white;
    box-shadow: 0 2px 15px rgba(black, .17);
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.form {
  transition: all .3s ease-in-out;
  padding: 30px;

  &.hidden {
    padding: 0;
    margin: 0;
    opacity: 0;
  }
}

.form-item {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  transition: all .3s cubic-bezier(.2,.1,.29,.98);
  max-height: 160px;
  margin: 0 20px;
  transform: translate(0, 0);
  justify-content: flex-end;

  &:first-child {
    margin-top: 20px;
  }

  &.hidden {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translate(-40px, -5px);
  }
}

.form-item-radios {
  margin-bottom: 30px;

  .form-item-radio {
    margin: 0;
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}