$spacing : 10px;
$dot-size: 4px;

.menu-toggle {
  position: fixed;
  right: 40px;
  top: 40px;
  cursor: pointer;
  z-index: 11;
  width: ($spacing * 2) + ($dot-size * 3);
  height: ($spacing * 2) + ($dot-size * 3);
  transform: rotate(0);
  transition: all .6s $bezier 0s;

  .dot {
    opacity: 1;
    width: $dot-size;
    height: $dot-size;
    border-radius: 50%;
    background-color: lighten($color-secondary, 20);
    transition: all .4s $bezier 0s;
    position: absolute;
    transform-origin: $dot-size / 2;
    transform: scale(1);

    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(135deg);
    }

    &:nth-child(7) {
      transform: rotate(-45deg);
    }

    &:nth-child(9) {
      transform: rotate(-135deg);
    }

    $row: 0;

    @for $column from 0 through 2 {
      @for $row from 0 through 2 {
        &:nth-child(#{$column + ($row * 3) + 1}) {
          left: $column * $spacing + ($column * $dot-size);
          top: $row * $spacing + ($row * $dot-size);
        }
      }
    }
  }

  &:hover {
    .dot {
      background-color: $color-secondary;
    }
  }
}

.has-menu-expanded {
  .menu-toggle {
    transform: rotate(180deg);
    transition: all .6s $bezier .2s;

    .dot {
      background-color: white;
      transition: all .4s $bezier .1s;

      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(7),
      &:nth-child(9) {
        width: ($spacing * 2) + $dot-size;
        height: $dot-size / 3;
        border-radius: 3px;
      }

      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(8) {
        opacity: 0;
        transform: scale(.2);
      }
    }
  }
}