.rsvp-form {
  max-width: $max-width * .7;
  margin: 0 auto;
  width: 100%;

  &.done {
    pointer-events: none;

    .form-item {
      max-height: 0;
      opacity: 0;
    }
  }
}

.success-message {
  overflow: hidden;
  display: block;
  flex: 0 0 60px;
  max-height: 0;
  transition: all .5s cubic-bezier(.2,.1,.29,.98);
  opacity: 0;
}

.rsvp-form.done + .success-message {
  opacity: 1;
  max-height: 200px;
}

@media only screen and (min-width: 540px) {
  .success-message {
    margin-bottom: 100px;
  }
}