.scroll-hint {
  width: 20px;
  position: fixed;
  bottom: -40px;
  transform: translateY(-40px);
  opacity: 1;
  transition: all .3s ease-in-out;
  animation: fadeInScrollHint 4.4s cubic-bezier(.36, .11, .89, .32);

  path {
    fill: $color-tertiary;
  }

  &:before {
    display: block;
    width: 20px;
    z-index: -1;
    height: 30px;
    bottom: 18px;
    border-radius: 10px;
    background-color: $color-primary;
    content: '';
    position: absolute; left: 50%;
    transform: translateX(-50%);
  }

  &:after {
    display: block;
    width: 50px;
    height: 50px;
    opacity: 0;
    z-index: -2;
    border-radius: 50%;
    content: '';
    background-color: $color-tertiary;
    position: absolute;
    transition: opacity .3s ease-in-out;
    top: 27px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: scaleIn 2s infinite forwards cubic-bezier(.36, .11, .89, .32);
    animation-delay: 1s;
  }
}

.has-scrolled {
  .scroll-hint {
    opacity: 0 !important;
    transform: translateY(0) !important;
  }
}

@keyframes scaleIn {
  0% {
    transform: translate(-50%, -50%) scale(.2, .2);
    opacity: 0;
  }
  10% {
    transform: translate(-50%, -50%) scale(.2, .2);
    opacity: .2;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.5, 2.5);
    opacity: 0;
  }
}

@keyframes fadeInScrollHint {
  0% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}

@media only screen and (min-height: 550px) {
  .scroll-hint {
    width: 24px;
    bottom: -30px;

    &:before {
      height: 38px;
    }

    &:after {
      top: 30px;
    }
  }
}